<style type="text/css">
    .bg-danger {
        background-color: #f2dede;
    }
    .bg-warning {
        background-color: #fcf8e3;
    }
</style>
<div style="font-size: 11px;">

    <div>
        <p>Warnings: {{ data.warnings }}</p>
        <p>Errors: {{ data.errors }}</p>
        <p>Lines: {{ data.count }}</p>
    </div>
    <table style="border: 1px solid #8c8c8c" border="1" cellspacing="0">

        <tbody>

    {% for line  in data.data %}
        <tr style="text-align: center">

        {% for field in line %}

            {% if field is iterable %}
                <td class="{% if field.warning %}bg-warning{% endif %} {% if field.error %}bg-danger{% endif %}">
                    {{ field.value }}
                </td>
            {% else %}
                <td>{{ field }}</td>
            {% endif %}


        {% endfor %}
        </tr>

    {% endfor %}

        </tbody>
    </table>

</div>