@import "./app/Layout/custom_bootstrap_variables";
.spinner_svg{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
@-webkit-keyframes spin {
  to {
    stroke-dashoffset: -264;
  }
}
@keyframes spin {
  to {
    stroke-dashoffset: -264;
  }
}
.spinner circle {
  fill: none;
  stroke: $gray-darker;
  stroke-width: 16;
  stroke-linecap: round;
  stroke-dasharray: 0, 0, 70, 194;
  stroke-dashoffset: 0;
  animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
}