<p>Hello {{ name }},
<br>
    <p>Thank you for registering for a BTE web portal account. To activate your account please follow the 2 steps below.</p>
    <p>
        <b>Step 1</b>: You will need a smart phone or tablet with the Google Authenticator app installed before you begin your registration.
        Please click <a href="http://www.bridgestoexcellence.org/portal_registration">here</a> for steps on how to download.
        If you have already completed this step, please proceed to Step 2.
    </p>
    <p>
        <b>Step 2</b>: Please follow the <a href="{{ link }}">link</a> to confirm registration
    </p>
</p>
