.dashboard-welcomeWr{
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.dashboard-welcome-btn{
  margin-top: 40px;
}