<div class="dashboard-welcomeWr">
  <h2>Welcome {{vm.user.firstname}} {{vm.user.lastname}}!</h2>
  <h3>Let's get you started by setting up your account!</h3>
  <div class="width-100 flex-center dashboard-welcome-btn">
    <a class="btn btn-default"  ui-sref="main.practice.create">Next</a>
  </div>
</div>