@import './app/Layout/_custom_bootstrap_variables.scss';
.submission-form{
  .input-group.form-group{
    padding: 0 15px;
  }
}

.submission-file-uploaderWr{
  flex-direction: column;
  align-items: center;
}

.submission-file-uploader{
  background-color: #fff;
  overflow: hidden;
  min-height: 180px;
  label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 5px;
    z-index: 1;
    &.bg-info{
      opacity: .5;
    }
  }
}

.submission-file-uploader-input{
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: -10000px;
  left: -10000px;
  //width: 500%;
  z-index: 0;
  cursor: pointer;
  visibility: hidden;
}
.submission-file-uploader-popup-inputWr{
  width: 100%;
  .btn{
    margin-left: 30px;
  }

}
.submission-file-uploader-popup-modal-footer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.submission-file-nameWr{
  align-items: center;
  p{
    margin: 0;
    margin-right: 10px;
  }
}
.submission-file-uploader-icon{
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
}

.submission-approve-points-list{
  li:before{
    content: '- ';
  }
}
.submission-pagination{
 margin-top: -30px;
}
.submission-pagination-page{
  position: relative;
  margin: 0 10px;
  height: 30px;
  width: 30px;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 15px;
  text-align: center;
  line-height: 29px;
  overflow: hidden;
}
.submission-manual-input-tableWr{
  position: relative;
  display: block;
  max-width:100%;
  min-height: 100px;
  overflow: hidden;
  overflow-x: auto;
}

[ng-dropdown-multiselect] {
  position: relative;
  .dropdown-multiselect, .dropdown-toggle{
    position: relative;
    width: 100%;
  }
  .dropdown-menu{
    width: 100%;
    a{
      cursor: default;
    }
  }
  .dropdown-toggle{
    cursor: default;
    text-align: left;
    .caret{
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
    }
  }
}

.submission-last-step-content{
  min-height: 200px;
  align-items: center;
}

.submission-pagination-hidden-btn{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 15px;
  cursor: pointer;
}

.providersListFileInput{
  margin-left: 10px;
}

.submission-file-uploader-spinnerWr{
  display: flex;
  background-color: rgba(255, 255, 255, .9);
  z-index: 10;

  spinner{
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
  }
}

.submission-form-select{
  option[disabled], .option[disabled]{
    background-color: $gray-lighter;
  }
}