<ul class="submission-tablist" ng-switch="vm.tabIndex">
  <li class="submission-tab" ng-switch-when="1" state1></li>
  <li class="submission-tab" ng-switch-when="21" state21></li>
  <!--<li class="submission-tab" ng-switch-when="22" state22></li>-->
  <li class="submission-tab" ng-switch-when="3" state3></li>
  <li class="submission-tab" ng-switch-when="4" state4></li>
  <li class="submission-tab" ng-switch-when="5" state5></li>
</ul>