<style type="text/css">
    div.page
    {
        page-break-after: always;
        page-break-inside: avoid;
    }
</style>
<div style="font-size: 11px;">
<h6>Number: {{ submission.id }}</h6>
<h6>Created: {{ submission.createdAt|date("F jS \\a\\t g:ia") }}</h6>
<div>
    <p>Program Name: {{ submission.program.name }}</p>
    <p>Reporting for: {% if submission.reportingFor == 2 %}Data Aggregator{% endif %}
                        {% if submission.reportingFor == 1 %}Group{% endif %}
                        {% if submission.reportingFor == 0 %}Individual{% endif %}</p>
    <p>Reporting Date Range:  {{ submission.reportingStart|date("m/d/Y") }} through {{ submission.reportingEnd|date("m/d/Y") }}</p>
</div>
<hr>
{% for recognition in submission.recognition %}
    {% if loop.last %}
            <div>
        {% else %}
            <div {{ loop.last }}class="page">
    {% endif %}
        <p>Provider: {{ recognition.provider.firstname }} {{ recognition.provider.lastname }}</p>
        <p style="font-weight: bold">NPI: {{ recognition.provider.npi }}</p>
        {% if recognition.groupID %}<p>Group: {{ recognition.groupID }}</p>{% endif %}
        <p>Clinic: {{ recognition.provider.degree.name }} {{ recognition.provider.speciality.name }}</p>
    <br/>
        {% if recognition.recognitionDetail %}
            <table style="border: 1px solid #8c8c8c" border="1" cellspacing="0">
                <thead style="background-color: #5c9ccc">
                    <th>Measure</th>
                    <th>Total Possible Points</th>
                    <th>Denominator</th>
                    <th>Numerator</th>
                    <th>Score</th>
                </thead>
            <tbody>
            {% for detail in recognition.recognitionDetail %}
            <tr style="text-align: center">
                <td>{{ detail.measure.name }}</td>
                <td>{{ detail.measure.total }}</td>
                <td>{{ detail.denominator }}</td>
                <td>{{ detail.numerator }}</td>
                <td>{{ detail.score }}</td>
            </tr>
            {% endfor %}
            <tr style="text-align: center">
                <td colspan="3"></td>
                <td colspan="2"><b>Total: {{ recognition.score }}</b></td>
            </tr>
            </tbody>
            </table>
        {% endif %}
    </div>
{% endfor %}
</div>