<div ui-view>
  <div class="row">
    <div class="col-md-6">
      <ul>
        <li>
          <h4>Asthma Care Recognition</h4>
          <ul>
            <li><span class="glyphicon pdf-file" aria-hidden="true"></span> Recognition Guide</li>
            <li><span class="glyphicon xls-file" aria-hidden="true"></span> Data Template</li>
          </ul>
        </li>
        <li>
          <h4>CAD Care Recognition</h4>
          <ul>
            <li><span class="glyphicon pdf-file" aria-hidden="true"></span> Recognition Guide</li>
            <li><span class="glyphicon xls-file" aria-hidden="true"></span> Data Template</li>
          </ul>
        </li>
        <li>
          <h4>Cardiac Care Recognition</h4>
          <ul>
            <li><span class="glyphicon pdf-file" aria-hidden="true"></span> Recognition Guide</li>
            <li><span class="glyphicon xls-file" aria-hidden="true"></span> Data Template</li>
          </ul>
        </li>
        <li>
          <h4>COPD Care Recognition</h4>
          <ul>
            <li><span class="glyphicon pdf-file" aria-hidden="true"></span> Recognition Guide</li>
            <li><span class="glyphicon xls-file" aria-hidden="true"></span> Data Template</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul>
        <li>
          <h4>Depression Care Recognition</h4>
          <ul>
            <li><span class="glyphicon pdf-file" aria-hidden="true"></span> Recognition Guide</li>
            <li><span class="glyphicon xls-file" aria-hidden="true"></span> Data Template</li>
          </ul>
        </li>
        <li>
          <h4>Diabetes Care Recognition</h4>
          <ul>
            <li><span class="glyphicon pdf-file" aria-hidden="true"></span> Recognition Guide</li>
            <li><span class="glyphicon xls-file" aria-hidden="true"></span> Data Template</li>
          </ul>
        </li>
        <li>
          <h4>Hypertension Care Recognition</h4>
          <ul>
            <li><span class="glyphicon pdf-file" aria-hidden="true"></span> Recognition Guide</li>
            <li><span class="glyphicon xls-file" aria-hidden="true"></span> Data Template</li>
          </ul>
        </li>
        <li>
          <h4>IBD Care Recognition</h4>
          <ul>
            <li><span class="glyphicon pdf-file" aria-hidden="true"></span> Recognition Guide</li>
            <li><span class="glyphicon xls-file" aria-hidden="true"></span> Data Template</li>
          </ul>
        </li>
        <li>
      </ul>
    </div>
  </div>

</div>