<div class="howToProgram" ui-view>
    <h4>How do I prepare for my submission?</h4>
    <h5>Step 1: Download, fill out, sign and return your Data  Submitter Agreement form. </h5>
    <h5>Step 2: Choose a program and review program requirements.</h5>
    <ul>
        <li>
            <a target="_blank" href="http://www.bridgestoexcellence.org/sites/default/files/Asthma%20Care%20Recognition%20Guide_Consolidated01012018.pdf">BTE Asthma Care Recognition</a>
        </li>
        <li>
            <a target="_blank" href="http://www.bridgestoexcellence.org/sites/default/files/BTE%20CAD%20Care%20Program%20Guide%2001312018v2.pdf">BTE Cardiac Care Recognition</a>
        </li>
        <li>
            <a target="_blank" href="http://www.bridgestoexcellence.org/sites/default/files/BTE%20COPD%20Care%20Recognition%20Program%2012182017.pdf">BTE COPD Care Recognition</a>
        </li>
        <li>
            <a target="_blank" href="http://www.bridgestoexcellence.org/sites/default/files/BTE%20Depression%20Care%20Recognition%20Program02062018.pdf">BTE Depression Care Recognition</a>
        </li>
        <li>
            <a target="_blank" href="http://www.bridgestoexcellence.org/sites/default/files/BTE%20Diabetes%20Care%20Program%20Guide%2001312018.pdf">BTE Diabetes Care Recognition</a>
        </li>
        <li>
            <a target="_blank" href="http://www.bridgestoexcellence.org/sites/default/files/BTE%20Heart%20Failure%20Care%20Program%20Guide%20020518.pdf">BTE Heart Failure Care Recognition</a>
        </li>
        <li>
            <a target="_blank" href="http://www.bridgestoexcellence.org/sites/default/files/BTE%20Hypertension%20Care%20Program%20Guide%20020518.pdf">BTE Hypertension Care Recognition</a>
        </li>
        <li>
            <a target="_blank" href="http://www.bridgestoexcellence.org/sites/default/files/BTE%20IBD%20Care%20Program%20Guide%20020618.pdf">BTE IBD Care Recognition</a>
        </li>
    </ul>
    <h5>Step 3: Review the chosen program definition file and data templates.</h5>
    <table class="table table-bordered">
        <thead class="bg-primary">
        <tr>
            <th style="width: 300px">Program Name</th>
            <th style="width: 150px">Data Template</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>BTE Asthma Care Recognition</td>
            <td><a target="_blank" href="/csv_templates/BTE_Asthma_Data_Submission_Template.csv"><img src="/app/Layout/Images/Document-Microsoft-Excel-icon.png" alt="BTE Asthma Care Recognition" /></a></td>
        </tr>
        <tr>
            <td>BTE CAD Care Recognition</td>
            <td><a target="_blank" href="/csv_templates/BTE_CAD_Data_Submission_Template.csv"><img src="/app/Layout/Images/Document-Microsoft-Excel-icon.png" alt="BTE CAD Care Recognition" /></a></td>
        </tr>
        <tr>
            <td>BTE COPD Care Recognition</td>
            <td><a target="_blank" href="/csv_templates/BTE_COPD_Data_Submission_Template.csv"><img src="/app/Layout/Images/Document-Microsoft-Excel-icon.png" alt="BTE COPD Care Recognition" /></a></td>
        </tr>
        <tr>
            <td>BTE Depression Care Recognition</td>
            <td><a target="_blank" href="/csv_templates/BTE_Depression_Data_Submission_Template.csv"><img src="/app/Layout/Images/Document-Microsoft-Excel-icon.png" alt="BTE Depression Care Recognition" /></a></td>
        </tr>
        <tr>
            <td>BTE Diabetes Care Recognition</td>
            <td><a target="_blank" href="/csv_templates/BTE_Diabetes_Data_Submission_Template.csv"><img src="/app/Layout/Images/Document-Microsoft-Excel-icon.png" alt="BTE Diabetes Care Recognition" /></a></td>
        </tr>
        <tr>
            <td>BTE Heart Failure Care Recognition</td>
            <td><a target="_blank" href="/csv_templates/BTE_Heart_Failure_Data_Submission_Template.csv"><img src="/app/Layout/Images/Document-Microsoft-Excel-icon.png" alt="BTE Heart Failure Care Recognition" /></a></td>
        </tr>
        <tr>
            <td>BTE Hypertension Care Recognition</td>
            <td><a target="_blank" href="/csv_templates/BTE_Hypertension_Data_Submission_Template.csv"><img src="/app/Layout/Images/Document-Microsoft-Excel-icon.png" alt="BTE Hypertension Care Recognition" /></a></td>
        </tr>
        <tr>
            <td>BTE IBD Care Recognition</td>
            <td><a target="_blank" href="/csv_templates/BTE_IBD_Data_Submission_Template.csv"><img src="/app/Layout/Images/Document-Microsoft-Excel-icon.png" alt="BTE IBD Care Recognition" /></a></td>
        </tr>
        </tbody>
    </table>

    <h5>Step 4: Collect the data and enter it in the Data Template.</h5>
    <h5>Step 5: Once you are ready to submit your data, you may do so via the Submissions Tab (upper left hand side).</h5>
</div>