<div ui-view>
  <h3>How-To's</h3>
  <ul>
    <li><a target="_blank"  ui-sref="main.howto.prepare-submission">How do I prepare for my submission?</a></li>
    <li><a target="_blank"  ui-sref="main.submissions">How do I begin a submission?</a></li>
    <li><a target="_blank" href="http://www.bridgestoexcellence.org/recognition-programs">How many BTE recognitions are there?</a></li>
    <li><a target="_blank" href="http://www.bridgestoexcellence.org">How can I learn more about BTE?</a></li>
    <li><a target="_blank" href="http://www.bridgestoexcellence.org/bte-certificate">How may I print my recognition certificate?</a></li>
  </ul>
</div>