@import "./app/Layout/custom_bootstrap_variables";
.providers-tableWr{
  position: relative;
  display: block;
  overflow: hidden;
  overflow-y: auto;
  max-height: 37*5px;

  table{
    td{
      white-space: pre-wrap;
      word-break: break-all;
    }
  }
}
.bg-table-inactive{
  color: rgba(128, 128, 128, .8);
}

.providers-tableWr table.table-bordered thead tr th{
  vertical-align: middle;
}

div.practiceFacility {
  border: 1px solid #cccccc;
  padding: 5px;
  margin-bottom: 10px;

  h3{
    margin-top: 0;
  }
}

.myPractice-providers-item{
  &.is-active{
    background-color: $gray-lighter;
  }
}