<div ui-view>
  <div ng-if="vm.practice">
    <div class="practiceFacility">
      <h3>Practice / Organization Information</h3>
      <p>{{vm.practice.name}}</p>
      <p>{{vm.practice.address}}</p>
      <p>{{vm.practice.city}}, {{vm.practice.state}} {{vm.practice.zip_code}} </p>
      <p>{{vm.practice.phone}}</p>
      <p>{{vm.practice.primary_contact_name}}</p>
      <p>{{vm.practice.primary_contact_email}}</p>
    </div>
    <div class="flex-end"><a class="btn btn-default"  ui-sref="main.practice.edit">Edit Practice / Organization Info</a></div>
  </div>
  
  <div ng-if="vm.providers" style="margin-top: 20px;margin-bottom: 10px;">
    <h4>Participating Provider Information</h4>
    <div class="providers-tableWr width-100"  style="border: 1px solid #cccccc;">
      <table class="table table-bordered width-100">
        <thead class="bg-primary">
          <tr>
            <th>Resp ID</th>
            <th>Clinician NPI</th>
            <th>Clinician DEA</th>
            <th>Clinician Medical Lic</th>
            <th>Clinician Name</th>
            <th>Clinician DOB</th>
            <th>Clinician Gender</th>
            <th>Clinician Speciality</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr class="myPractice-providers-item" style="cursor: pointer; margin-top: 20px;" ng-repeat="provider in vm.providers" ng-class="{'is-active': provider._active, 'bg-table-inactive': !provider.active}" ng-click="vm.activateProvider(provider)">
            <td>{{provider.clinician_id}}</td>
            <td style="width: 120px;">{{provider.npi}}</td>
            <td>{{provider.dea}}</td>
            <td>{{provider.license}}</td>
            <td>{{provider.firstname}} {{provider.lastname}} {{provider.middlename}} {{provider.degree.name}}</td>
            <td>{{provider.date_birth| date : 'MM/dd/yy'}}</td>
            <td style="width: 65px">{{provider.gender}}</td>
            <td style="width: 150px;vertical-align: middle;">{{provider.speciality.name}}</td>
            <td style="width: 65px;"><span ng-if="provider.active">active</span><span ng-if="!provider.active">inactive</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="flex-end">
    <a class="btn btn-default"  ui-sref="main.provider.edit({id: vm.editProviderId})" ng-if="vm.editProviderId">Edit Provider</a>
    <a class="btn btn-default"  ui-sref="main.provider.create">Add Provider</a>
  </div>
</div>