<div class="modal-header">
  <h3 class="modal-title" id="modal-title">{{vm.data.title}}</h3>
</div>
<div class="modal-body" id="modal-body">
  <p ng-bind-html="vm.data.content_text"></p>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" ng-class="{'btn-danger': vm.data.alert, 'btn-secondary': vm.data.info}" type="button" ng-click="vm.close()">{{vm.data.ok_btn_title}}</button>
  <button class="btn btn-default" type="button" ng-click="vm.close(true)">{{vm.data.cancel_btn_title}}</button>
</div>