<div class="modal-header">
  <h3 class="modal-title" id="modal-title">{{vm.data.title}}</h3>
</div>
<div class="modal-body" id="modal-body">
  <p ng-bind-html="vm.data.error"></p>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" ng-class="{'btn-danger': vm.alert, 'btn-secondary': vm.info}" type="button" ng-click="vm.modal.close()">Close</button>
</div>