<h3>Password reset</h3>
<form name="resetForm" class="form-horizontal login-form" ng-submit="vm.setNewPass({password: vm.resetModel.password})">
  <div class="form-group is-required">
    <label for="resetPassword" class="col-sm-3 control-label">New password</label>
    <div class="col-sm-9">
      <input class="form-control" id="resetPassword" name="resetPassword" ng-model="vm.resetModel.password" ng-minlength="15" required type="password" placeholder="At least 15 characters long">
      <div ng-messages="resetForm.resetPassword.$error" ng-if="resetForm.resetPassword.$dirty">
        <div ng-message="required">This is required.</div>
        <div ng-message="minlength">The password must be at least 15 characters long.</div>
      </div>
    </div>
  </div>
  <div class="form-group is-required">
    <label for="resetConfirmPassword" class="col-sm-3 control-label">Confirm Password</label>
    <div class="col-sm-9">
      <input class="form-control" id="resetConfirmPassword" name="resetConfirmPassword" ng-model="vm.resetModel.password_conf" ng-pattern="vm.resetModel.password" required type="password">
      <div ng-messages="resetForm.resetConfirmPassword.$error" ng-if="resetForm.resetConfirmPassword.$dirty">
        <div ng-message="required">This is required.</div>
        <div ng-message="pattern">Passwords do not match.</div>
      </div>
    </div>
  </div>
  <div class="form-group flex-end">
    <div class="col-sm-9">
      <button type="submit" class="btn btn-secondary btn-block">
        Set new password.
      </button>
    </div>
  </div>
  <div class="form-group flex-end">
    <div class="col-sm-9 flex-center">
      <a  ui-sref="login.page">Login</a>
    </div>
  </div>
</form>