<a class="main-page-logout-link"  ng-click="vm.logout()">logout</a>
<div class="main-pageWr row content-wr">
  <div class="col-md-12 main-page">
    <nav class="main-page-nav col-md-2">
      <ul class="nav nav-tabs">
        <li class="btn-secondary-info"><a class="btn btn-secondary" ui-sref-active="btn-secondary-info"  ui-sref="main.dashboard">Dashboard</a></li>
        <li class="btn-secondary-info"><a class="btn btn-secondary" ui-sref-active="btn-secondary-info"  ui-sref="main.practice">My Info</a></li> <!--ui-sref-opts="{reload: true}"-->
        <li class="btn-secondary-info"><a class="btn btn-secondary" ui-sref-active="btn-secondary-info"  ui-sref="main.submissions">Submissions</a></li>
        <li class="btn-secondary-info"><a class="btn btn-secondary" ui-sref-active="btn-secondary-info"  ui-sref="main.recognitions" >Recognitions</a></li>
        <li class="btn-secondary-info"><a class="btn btn-secondary" ui-sref-active="btn-secondary-info"  ui-sref="main.howto">How-To's</a></li>
        <!--<li class="btn-secondary-info"><a class="btn btn-secondary" ui-sref-active="btn-secondary-info"  disabled>Reports</a></li>-->
      </ul>
    </nav>
    <ui-view class="col-md-10 well main-page-content"></ui-view>
  </div>
</div>