@charset "UTF-8";

.main-pageWr {
  .nav-tabs>li{
    float: none;
  }
  .nav-tabs{
    border-bottom: 0;
    flex-shrink: 0;
    width: 100%;
  }
}
.main-page{
  display: flex;
  .main-page-nav{
    .nav-tabs>li{
      border-radius: 4px;
      overflow: hidden;
      margin: 5px 0;
      &>a{
        margin-right: 0;
        &:hover, &:focus{
          background-color: inherit;
          border-color: inherit;
          color: inherit;
          outline-color: inherit;
        }
        /*&:not(.btn-info):focus{
          background-color: #337ab7;
        }*/
      }
    }
  }
}
.main-page-content{
  flex-shrink: 1;
  margin-bottom: 0;
}
.main-page-logout-link{
  position: absolute;
  left: calc(50% + 1170px / 2);
  top: 10px;
  display: block;
}

.recognitions-table{
  th{
    text-align: center;
    vertical-align: middle !important;
  }
  .btn.btn-link{

    box-sizing: content-box;
    padding: 10px 15px;
    svg{
      position: relative;
      display: block;
      border: none;
      height: 24px;
      width: 24px;
    }
  }
  .arrow-down-icon{
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    transform: rotate(-45deg);
    transition-property: transform;
    transition-duration: 0.5s;

    &.arrow-up{
      transform: rotate(-45+180deg);
    }
  }

  .provider-name:not(:last-child){
    &:after{
      content: ', ';
    }
  }

  .recognitions-details-table{
    text-align: center;
    vertical-align: middle !important;
  }

}