<!--<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Authentication Code</h3>
</div>-->
<form name="authCodeForm" class="form-horizontal login-form" novalidate ng-submit="vm.login({username: vm.loginModel.mail, password: vm.loginModel.pass, code: vm.loginModel.code})">
  <div class="modal-body" id="modal-body">
    <h4>Enter access code from Google authenticator application</h4>
    <div class="form-group is-required">
      <!--<label for="loginAuthCode" class="col-sm-3 control-label">Authentication Code</label>-->
      <div class="width-100 authCodeInput">
        <input autofocus class="form-control" id="loginAuthCode" name="loginAuthCode" ng-model="vm.loginModel.code" required type="password">
        <div ng-messages="authCodeForm.loginAuthCode.$error" ng-if="authCodeForm.loginAuthCode.$touched || authCodeForm.$submitted">
          <div ng-message="required">This is required.</div>
        </div>
        <p class="authCodeInput-errorMessage text-danger" ng-if="vm.message" ng-bind-html="vm.message"></p>
      </div>
    </div>
  </div>
  <div class="modal-footer flex-end">
    <button class="btn btn-default" type="button" ng-click="vm.close()">Close</button>
    <button class="btn btn-secondary col-sm-2" type="submit">Login</button>
  </div>
</form>