<div class="row content-wr">
  <ui-view class="col-md-5 well"></ui-view>
  <div class="col-md-2"></div>
  <ul class="col-md-5 flex-wrap">
    <li class="prog-img-wr">
      <a target="_blank" class="flex-col flex-aic" href="http://www.bridgestoexcellence.org/sites/default/files/Asthma%20Care%20Recognition%20Guide_Consolidated01012018.pdf">
        <img src="/app/Layout/Images/iStock-photos/iStock-624742296.jpg" alt="Asthma Care" />
        <p>Asthma Care</p>
      </a>
    
    <li class="prog-img-wr">
      <a target="_blank" class="flex-col flex-aic" href="http://www.bridgestoexcellence.org/sites/default/files/BTE%20CAD%20Care%20Program%20Guide%2001312018v2.pdf">
        <img src="/app/Layout/Images/iStock-photos/iStock-157420345.jpg" alt="Cardiac Care" />
        <p>Cardiac Care</p>
      </a>
    
    <li class="prog-img-wr">
      <a target="_blank" class="flex-col flex-aic" href="http://www.bridgestoexcellence.org/sites/default/files/BTE%20COPD%20Care%20Recognition%20Program%2012182017.pdf">
        <img src="/app/Layout/Images/iStock-photos/iStock-873504580.jpg" alt="COPD Care" />
        <p>COPD Care</p>
      </a>
    
    <li class="prog-img-wr">
      <a target="_blank" class="flex-col flex-aic" href="http://www.bridgestoexcellence.org/sites/default/files/BTE%20Depression%20Care%20Recognition%20Program02062018.pdf">
        <img src="/app/Layout/Images/iStock-photos/iStock-629600540.jpg" alt="Depression Care" />
        <p>Depression Care</p>
      </a>
    
    <li class="prog-img-wr">
      <a target="_blank" class="flex-col flex-aic" href="http://www.bridgestoexcellence.org/sites/default/files/BTE%20Diabetes%20Care%20Program%20Guide%2001312018.pdf">
        <img src="/app/Layout/Images/iStock-photos/iStock-824201384.jpg" alt="Diabetes Care" />
        <p>Diabetes Care</p>
      </a>
    
    <li class="prog-img-wr">
      <a target="_blank" class="flex-col flex-aic" href="http://www.bridgestoexcellence.org/sites/default/files/BTE%20Heart%20Failure%20Care%20Program%20Guide%20020518.pdf">
        <img src="/app/Layout/Images/iStock-photos/iStock-874377002.jpg" alt="Heart Failure" />
        <p>Heart Failure Care</p>
      </a>
    
    <li class="prog-img-wr">
      <a target="_blank" class="flex-col flex-aic" href="http://www.bridgestoexcellence.org/sites/default/files/BTE%20Hypertension%20Care%20Program%20Guide%20020518.pdf">
        <img src="/app/Layout/Images/iStock-photos/iStock-175264754.jpg" alt="Hypertension Care" />
        <p>Hypertension Care</p>
      </a>
    
    <li class="prog-img-wr">
      <a target="_blank" class="flex-col flex-aic" href="http://www.bridgestoexcellence.org/sites/default/files/BTE%20IBD%20Care%20Program%20Guide%20020618.pdf">
        <img src="/app/Layout/Images/iStock-photos/iStock-823268324.jpg" alt="IBD Care" />
        <p>IBD Care</p>
      </a>
  
  </ul>
</div>
<div class="row content-wr">
  <div class="col-md-5">
    <p>Bridges to Excellence is a program offered by the Center for Value in Health Care (formerly, Health Care Incentives Improvement Institute, Inc.). Our goal from the start has been to recognize and reward clinicians who have implemented comprehensive solutions on the management of patients, and deliver safe, timely, effective, efficient, equitable and patient-aiced care. As such, BTE does not charge clinicians for a BTE assessment. CVHC does not profit from the Recognition.</p>
  </div>
  <div class="col-md-7"></div>
</div>
<div class="row content-wr">
  <div class="col-md-5">
    <div style="font-style: italic;">
      <p style="text-decoration: underline;">AUTHORIZED USE ONLY</p>
      <p>THIS INFORMATION SYSTEM IS FOR AUTHORIZED USE ONLY.</p>
      <p>Unauthorized access or use of this system may subject violators to criminal, civil, and/or administrative action.  All information on this system may be intercepted, recorded, read, copied, and disclosed by and to authorized personnel.  Authorized personnel may give law enforcement officials any potential evidence of crime found on the system.  Access or use of this system by any person, whether authorized or unauthorized, constitutes consent to these terms.</p>
    </div>
  </div>
  <div class="col-md-7"></div>
</div>