.prog-img-wr{

  width: 25%;
  box-sizing: border-box;
  padding: 0 10px;
  font-size: 11px;
  white-space: nowrap;

  img{
    position: relative;
    display: block;
    height: 75px;
    margin-bottom: 5px;
  }

  a{
    position: relative;
    overflow: hidden;
    width: 100%;
  }
}

.authCodeInput{
  padding: 5px 17px;
  box-sizing: border-box;
}
.authCodeInput-errorMessage{
  margin-top: 10px;
}