<form name="loginForm" class="form-horizontal login-form" novalidate ng-submit="vm.login({username: vm.loginModel.mail, password: vm.loginModel.pass})">
  <div class="form-group is-required">
    <label for="loginEmail" class="col-sm-3 control-label">Email</label>
    <div class="col-sm-9">
      <input autofocus class="form-control" id="loginEmail" name="loginEmail" ng-model="vm.loginModel.mail" required type="email" ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'>
      <div ng-messages="loginForm.loginEmail.$error" ng-if="loginForm.loginEmail.$touched || loginForm.$submitted">
        <div ng-message="required">This is required.</div>
        <div ng-message="pattern">This is not valid email address.</div>
      </div>
    </div>
  </div>
  <div class="form-group is-required">
    <label for="loginPassword" class="col-sm-3 control-label">Password</label>
    <div class="col-sm-9">
      <input class="form-control" id="loginPassword" name="loginPassword" ng-model="vm.loginModel.pass" required type="password">
      <div ng-messages="loginForm.loginPassword.$error" ng-if="loginForm.loginPassword.$touched || loginForm.$submitted">
        <div ng-message="required">This is required.</div>
      </div>
    </div>
  </div>
  <div class="form-group flex-end">
    <div class="col-sm-9">
      <button type="submit" class="btn btn-secondary btn-block">
        Login
      </button>
    </div>
  </div>
  <div class="form-group flex-end">
    <div class="col-sm-9 flex-center">
      <a  ui-sref="login.register">New user</a>
    </div>
  </div>
  <div class="form-group flex-end">
    <div class="col-sm-9 flex-center">
      <a  ui-sref="login.recoverypassword">Forgot password?</a>
    </div>
  </div>
</form>