/**
 * Created by dzmitry.barkouski on 09.01.2017.
**/

.l-btn{
}

.l-btn-text{
  position: relative;
}

.l-btn-text-light{
  //color: $white;
}

.btn-secondary {
  @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
}
.btn-secondary-info {
  @include button-variant($btn-secondary-info-color, $btn-secondary-info-bg, $btn-secondary-info-border);
}

.radio-wrapper{
  position: relative;
  overflow: hidden;

  input[disabled] + label{
    &:before{
      opacity: .5;
    }
    cursor: default;
  }

  input[type="radio"]{
    position: absolute;
    opacity: 0;
    left: -1000px;
    top: -1000px;
    visibility: hidden;
    &:not([disabled]):checked + label:after{
      opacity: 1;
    }
  }


  input + label{
    padding-left: 20px;
    z-index: 1;
    line-height: 20px;
    cursor: pointer;
    &:before, &:after{
      content: '';
      position: absolute;
      display: block;
      top: 40%;
    }
    &:before{
      left: 0;
      width: 12px;
      height: 12px;
      box-sizing: border-box;
      border-radius: 6px;
      border: 1px solid $brand-secondary;
      z-index: 2;
      margin-top: -6px;
    }
    &:after{
      left: 3px;
      width: 6px;
      height: 6px;
      border-radius: 3px;
      background: $brand-secondary;
      z-index: 3;
      margin-top: -3px;
      opacity: 0;
      transition-property: opacity;
      transition-duration: .2s;
    }
  }

}