////default states
.is-hidden{
  display: none;
}
.is-invisible{
  opacity: 0;
}

/// layout parts states
.header-navMenu-item.is-active{
  .header-navMenu-item-link{
    //background-color: $link-color;
    &:hover{
      //background-color: $link-color-hover;
    }
  }
}