@import "reset_normilize";

///////////////////////////////////////
$font-size-base: 14px;
$font-size-large: ceil(($font-size-base * 1.25)); // ~18px
$font-size-small: ceil(($font-size-base * 0.85)); // ~12px
// base styles
html{
  position: relative;
  display: block;
  height: 100%;
  //color: $text-color;
  //font-size: $font-size-base;
  //font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

$h1: $font-size-base * 2.6; // ~36px
$h2: $font-size-base * 2.15; // ~30px
$h3: $font-size-base * 1.7; // ~24px
$h4: $font-size-base * 1.25; // ~18px
$h5: $font-size-base;
$h6: $font-size-base * 0.85; // ~12px



//h1{font-size: $h1;}
//h2{font-size: $h2;}
//h3{font-size: $h3;}
//h4{font-size: $h4;}
//h5{font-size: $h5;}
//h6{font-size: $h6;}

body{
  //background-color: $body-bg;
}

a{
  //color: $link-color;
  text-decoration: none;
  transition: color .2s;
  &:not([disabled]):hover{
    //color: $link-color-hover;
    //text-decoration: underline;
  }
}

/*button, a{
  &[disabled]{
    opacity: .7;
  }
}*/

p, h1, h2, h3, h4, h5, h6{
  margin: 0;
}
ul, menu{
  margin: 0;
  padding: 0;
  list-style: none;
}
svg{
  position: relative;
  height: 100%;
  width: 100%;
  fill: currentColor;
}
img{
  position: relative;
  display: block;
  max-height: 100%;
  max-width: 100%;
}

@import "custom_bootstrap";

.flex{
  display: flex;
}
.flex-col{
  display: flex;
  flex-direction: column;
}
.flex-end{
  display: flex;
  justify-content: flex-end;
}
.flex-center{
  display: flex;
  justify-content: center;
}
.flex-spaceb{
  display: flex;
  justify-content: space-between;
}
.flex-aic{
  display: flex;
  align-items: center;
}
.flex-wrap{
  display: flex;
  flex-wrap: wrap;
}
.width-30{
  width: 30%;
}
.width-100{
  width: 100%;
}
.text-strong{
  font-weight: bold;
}
.margin-v-20{
  margin-top: 20px;
  margin-bottom: 20px;
}
.mb0{
  margin-bottom: 0;
}
.oh{
  display: block;
  overflow: hidden;
}
.abs-width-height-100{
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
body{
  position: relative;
  display: block;
  min-height: 100%;
  top: 0;
  margin: 0;
  //padding: 0;
  padding: 70px 0 79px 0;
  box-sizing: border-box;
  > header.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
}

.site-header{
  margin-bottom: 10px;
  border-radius: 0;
}

.site-logo-wr{
  margin-bottom: 10px;
  margin-top: 10px;
}

.site-container{
  position: relative;
  //margin-top: 80px;
  min-height: calc(100% - (192px + 79px));
  //bottom: 182px;
  //left: 0;
  //right: 0;
  //overflow: hidden;
  //overflow-y: auto;
}

form{
  [ng-messages], .ng-fake-message{
    color: red;
  }
}

.site-logo-wr{
  img{
    width: 400px;
  }
}
.site-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 100;
}
.footer-logo-list{
  position: relative;
  width: calc(300px * 4);
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-logo-item{
  //width: calc(25% - 20px);
  height: 82px;
  padding: 10px;
}
.footer-bar{
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  *:last-child{
    margin-bottom: 0;
  }
  .footer-copyright{
    position: relative;
    display: block;
    width: 100%;
    border-top: 1px solid white;
    padding: 5px 0;
  }
}
.is-required{
  label:before{
    content: '*';
    color: #ff0000;
    margin-right: 2px;
    //position: absolute;
    //top: 0;
    //right: 100%;
  }
}

.pagination > .disabled > a {
  pointer-events: none;
}

.form-control[readonly][uib-datepicker-popup]{
  background-color:#fff;
}

.starsWr{
  white-space: nowrap;
}
.star-icon{
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  font-size: 0;
}

.dropdown-menu{
  &, li, div{
    &:focus{outline-color: $brand-secondary;}
  }
}

/////////////////////////////////////
// tools styles
@import "states";

/////////////////////////////////////
// layout styles

@import "buttons";