<div class="modal-header">
  <h3 class="modal-title" id="modal-title">{{vm.modal_title}}</h3>
</div>
<div class="modal-body" id="modal-body">
  <table ng-if="vm.submission_data" class="table table-bordered width-100">
    <thead class="bg-primary">
      <tr ng-bind-html="::vm.submission_data.head">
        <!--<th ng-repeat="th in vm.submission_data.head track by $index">{{::th}}</th>-->
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="tr in vm.submission_data_onepage" ng-bind-html="::tr">
      </tr>
    </tbody>
  </table>
</div>
<div class="col-xs-12 submission-date-pagination">
  
  <div class="form-horizontal submission-form col-xs-4">
    <div class="form-group">
      <label for="submissionDataPageSize" class="col-xs-5 control-label">Page size:</label>
      <div class="col-xs-7">
        <select class="form-control" id="submissionDataPageSize" name="submissionDataPageSize" ng-model="vm.pageSize" convert-to-number ng-change="vm.setModalControllerData()">
          <option ng-repeat="PS in vm.pageSizes track by $index" ng-value="::PS.val" ng-bind="::PS.title"></option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-xs-8">
    <ul class="pagination-sm" ng-if="vm.totalCount > vm.pageSize" uib-pagination items-per-page="vm.pageSize" ng-change="vm.changePage()" total-items="vm.totalCount" ng-model="vm.pageNumber" boundary-links="true" force-ellipses="true"></ul>
  </div>
</div>
<div class="modal-footer">
  <a ng-click="vm.downloadFile('submissions_data/' + vm.submission_id + '.csv', vm.submission_id + '.csv')" class="btn btn-default" role="button" ng-show="vm.btn_print">Download</a>
  <button class="btn btn-secondary" type="button" ng-click="vm.closePopup()">Close</button>
</div>