.modal-submissionData{
  //overflow: hidden;
  .modal-dialog{
    width: auto;
    max-width: calc(100% - 40px);
    height: auto;
    //max-height: calc(100% - 40px);
  }
  .modal-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .modal-body{
    overflow: auto;
  }
}
.modal-open .modal-submissionData{
  //overflow: hidden;
}
.submission-date-pagination{
  //padding: 0;
  margin: 20px 0;
  .pagination{
    margin: 0;
  }
}