@charset "UTF-8";
@import './app/Layout/custom_bootstrap_variables';

.confMail-footer{
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid $table-border-color;
}
.confMail-spinnerWr{
  position: relative;
  height: 20px;
  width: 20px;
}