<h3>Email confirmation.</h3>
<div class="flex-center " ng-if="!vm.two_factor_auth_qr_code">
  <spinner class="confMail-spinnerWr"></spinner>
</div>
<form id="confirmCodeForm" name="confirmCodeForm"  novalidate ng-submit="vm.confirmEmail(vm.code)">
  <div ng-if="vm.two_factor_auth_qr_code">
    <h5>
      <p>To confirm your email you need to use Google Authenticator.</p>
      <a class="text-strong" href="http://www.bridgestoexcellence.org/portal_registration" target="_blank">Google Authenticator Instructions.</a>
    </h5>
    <div class="flex">
      <div class="flex-col flex-center col-sm-4">
        <img src="{{vm.two_factor_auth_qr_code}}" alt="Google Authenticator QR-code" /></div>
      <div class="twoFactorAuthMsg col-sm-7">
        <p ng-if="vm.two_factor_auth_key">If you can't use the QR-code use this key:
          <span class="bg-info">{{vm.two_factor_auth_key}}</span></p>
        <div class="form-horizontal login-form">
          <div class="width-100">
            <label for="confirmCode" class="text-strong">Enter access code from Google authenticator application</label>
            <input class="form-control" id="confirmCode" name="confirmCode" ng-model="vm.code" required type="password">
            <div ng-messages="confirmCodeForm.confirmCode.$error" ng-if="confirmCodeForm.confirmCode.$touched || confirmCodeForm.$submitted">
              <div ng-message="required">This is required.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="confMail-footer flex-end">
    <button class="btn btn-secondary col-sm-2" type="submit">Confirm</button>
  </div>
</form>
<!--<p>To redirect at the login page <a  ui-sref="main.practice">click here</a>.</p>-->