<div ui-view>
  <h3>Recognitions</h3>
  
  <div ng-if="vm.recognitions" class="recognitions-table">
    <hr/>
    <div>
      <table class="table table-bordered width-100">
        <thead class="bg-primary">
        <tr>
          <th></th>
          <th>Provider/Clinic/Facility</th>
          <th>Program Name</th>
          <th>Star Rating</th>
          <th>Recognition Date</th>
          <th>Recognition Expiration</th>
          <!--<th>Data Submitted</th>-->
          <th>Download</th>
        </tr>
        </thead>
        <tbody ng-repeat="recognition in vm.recognitions">
          <tr>
            <td>
              <button class="btn btn-link"
                  ng-if="recognition.recognition && recognition.recognition[0] && recognition.recognition[0].recognition_detail && recognition.recognition[0].recognition_detail.length"
                  ng-click="vm.showRecognitionInfo(recognition)">
                <span class="arrow-down-icon" ng-class="{'arrow-up': recognition.isActivated}"></span>
              </button>
            </td>
            <td><p ng-repeat="provider in recognition.provider">
              <span ng-if="provider.lastname">{{provider.lastname}}</span><span ng-if="provider.firstname"> {{provider.firstname}}</span><span ng-if="provider.degree && provider.degree.name">, {{provider.degree.name}}</span>
            </p></td>
            <td>{{recognition.program.name}}</td>
              <td><p class="starsWr" ng-if="recognition.starRating">{{recognition.starRating}} Stars<br><span class="star-icon" ng-repeat="i in recognition.stars"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"><path d="m135.78 50.46c0-2.01-1.52-3.259-4.564-3.748l-40.897-5.947-18.331-37.07c-1.031-2.227-2.363-3.34-3.992-3.34-1.629 0-2.96 1.113-3.992 3.34l-18.332 37.07-40.899 5.947c-3.041.489-4.562 1.738-4.562 3.748 0 1.141.679 2.445 2.037 3.911l29.656 28.841-7.01 40.736c-.109.761-.163 1.305-.163 1.63 0 1.141.285 2.104.855 2.893.57.788 1.425 1.181 2.566 1.181.978 0 2.064-.324 3.259-.977l36.58-19.229 36.583 19.229c1.142.652 2.228.977 3.258.977 1.089 0 1.916-.392 2.486-1.181.569-.788.854-1.752.854-2.893 0-.706-.027-1.249-.082-1.63l-7.01-40.736 29.574-28.841c1.414-1.412 2.119-2.716 2.119-3.911" transform="matrix(.12375 0 0 .12375 2.59 2.958)" fill="#fdbc4b"/></svg></span></p></td>
            <td>{{recognition.modified_at | date : 'MM/dd/yy'}}</td>
            <td>{{recognition.expiration_at | date : 'MM/dd/yy'}}</td>
            <!--<td submission-Viewer  modal-title="Submission Data" btn-title="Data" submission-id="{{recognition.id}}" btn-print="1"></td>-->
            <td>
              <a class="btn btn-link flex-col flex-aic"
                  ng-if="recognition.recognition && recognition.recognition[0] && recognition.recognition[0].recognition_detail && recognition.recognition[0].recognition_detail.length"
                  target="_self"
                  href="/api/app.php/recognition/pdf?id={{recognition.id}}&token={{vm.lst}}"
                  download="General_report_{{recognition.program.name}}_{{recognition.id}}_{{recognition.modified_at | date : 'MM/dd/yy'}}.pdf">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve">
                  <path style="fill:#E2E5E7;" d="M128,0c-17.6,0-32,14.4-32,32v448c0,17.6,14.4,32,32,32h320c17.6,0,32-14.4,32-32V128L352,0H128z"/>
                  <path style="fill:#B0B7BD;" d="M384,128h96L352,0v96C352,113.6,366.4,128,384,128z"/>
                  <polygon style="fill:#CAD1D8;" points="480,224 384,128 480,128 "/>
                  <path style="fill:#F15642;" d="M416,416c0,8.8-7.2,16-16,16H48c-8.8,0-16-7.2-16-16V256c0-8.8,7.2-16,16-16h352c8.8,0,16,7.2,16,16
                    V416z"/>
                  <g>
                    <path style="fill:#FFFFFF;" d="M101.744,303.152c0-4.224,3.328-8.832,8.688-8.832h29.552c16.64,0,31.616,11.136,31.616,32.48
                      c0,20.224-14.976,31.488-31.616,31.488h-21.36v16.896c0,5.632-3.584,8.816-8.192,8.816c-4.224,0-8.688-3.184-8.688-8.816V303.152z
                       M118.624,310.432v31.872h21.36c8.576,0,15.36-7.568,15.36-15.504c0-8.944-6.784-16.368-15.36-16.368H118.624z"/>
                    <path style="fill:#FFFFFF;" d="M196.656,384c-4.224,0-8.832-2.304-8.832-7.92v-72.672c0-4.592,4.608-7.936,8.832-7.936h29.296
                      c58.464,0,57.184,88.528,1.152,88.528H196.656z M204.72,311.088V368.4h21.232c34.544,0,36.08-57.312,0-57.312H204.72z"/>
                    <path style="fill:#FFFFFF;" d="M303.872,312.112v20.336h32.624c4.608,0,9.216,4.608,9.216,9.072c0,4.224-4.608,7.68-9.216,7.68
                      h-32.624v26.864c0,4.48-3.184,7.92-7.664,7.92c-5.632,0-9.072-3.44-9.072-7.92v-72.672c0-4.592,3.456-7.936,9.072-7.936h44.912
                      c5.632,0,8.96,3.344,8.96,7.936c0,4.096-3.328,8.704-8.96,8.704h-37.248V312.112z"/>
                  </g>
                  <path style="fill:#CAD1D8;" d="M400,432H96v16h304c8.8,0,16-7.2,16-16v-16C416,424.8,408.8,432,400,432z"/>
                </svg>
                <span>General report</span>
              </a>
              <a class="btn btn-link flex-col flex-aic"
                  ng-if="recognition.reporting_for == 2 && recognition.recognition && recognition.recognition[0] && recognition.recognition[0].recognition_detail && recognition.recognition[0].recognition_detail.length"
                  target="_self"
                  href="/api/app.php/recognition/csv/program?id={{recognition.id}}&token={{vm.lst}}"
                  download="Per_Provider_Program_Score_{{recognition.program.name}}_{{recognition.id}}_{{recognition.modified_at | date : 'MM/dd/yy'}}.csv">
                <img src="/app/Layout/Images/Document-Microsoft-Excel-icon.png" alt="Per Provider Program Score" />
                <span>Per Provider Program Score</span>
              </a>
              <a class="btn btn-link flex-col flex-aic"
                  ng-if="recognition.reporting_for == 2 && recognition.recognition && recognition.recognition[0] && recognition.recognition[0].recognition_detail && recognition.recognition[0].recognition_detail.length"
                  target="_self"
                  href="/api/app.php/recognition/csv/measure?id={{recognition.id}}&token={{vm.lst}}"
                  download="Per_Provider_Per_Measure_Scores_{{recognition.program.name}}_{{recognition.id}}_{{recognition.modified_at | date : 'MM/dd/yy'}}.csv">
                <img src="/app/Layout/Images/Document-Microsoft-Excel-icon.png" alt="Per Provider Per Measure Scores" />
                <span>Per Provider Per Measure Scores</span>
              </a>
            </td>
          </tr>
          <tr ng-if="recognition.isActivated" ng-repeat="curRecognition in recognition.recognition">
            <td class="width-100" colspan="8">
              <h5><span ng-if="!curRecognition.totalgroup_i_d && curRecognition.provider.lastname">{{curRecognition.provider.lastname}}</span><span ng-if="curRecognition.provider.firstname"> {{curRecognition.provider.firstname}}</span><span ng-if="curRecognition.provider.degree && curRecognition.provider.degree.name">, {{curRecognition.provider.degree.name}}</span><span class="provider-name" ng-if="curRecognition.group_i_d"> Group ID: {{curRecognition.group_i_d}}</span></h5>
              <h5 ng-if="curRecognition.totalgroup_i_d">Total for group with ID - {{curRecognition.totalgroup_i_d}}</h5>
              <table class="table table-bordered width-100 recognitions-details-table">
                <thead class="bg-primary">
                  <tr>
                    <th>Measure</th>
                    <th>Total Possible Points</th>
                    <th>Denominator</th>
                    <th>Numerator</th>
                    <th>Score</th>
                  </tr>
                </thead>
                <tbody ng-bind-html="::curRecognition.recognitionDetailsTbody">
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="3"></td>
                    <td colspan="2"><b>Total: {{curRecognition.score}}</b></td>
                  </tr>
                </tfoot>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <ul class="pagination-sm" ng-if="vm.totalCount > vm.pageSize" ng-change="vm.changeListPage()" uib-pagination items-per-page="vm.pageSize" total-items="vm.totalCount" ng-model="vm.pageNumber" boundary-links="true" force-ellipses="true"></ul>
    </div>
  </div>
</div>