@import "./app/Layout/custom_bootstrap_variables";
.form-group:last-child{
  margin-bottom: 0;
}

.form-groupWr{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  & > .form-group{
    flex-shrink: 0;
    margin: 0;
    box-sizing: border-box;
  }
}

.practice-form-btnsWr{
  margin-top: 40px;
}
.twoFactorAuthMsg{
  margin-left: 10px;
}

