<p class="text-primary lead" ng-if="vm.$localStorage.newUser">Let's begin by adding your practice/organization information.</p>
<h3>Practice / Organization Information</h3>
<form name="practiceForm" class="form-horizontal practice-form" novalidate ng-submit="vm.save(vm.practice)">
  <div class="form-group">
    <label class="col-sm-3 control-label is-required">This is a:</label>
    <div class="col-sm-6">
      <label class="checkbox-inline">
        <input type="checkbox" name="dataAggregator"  ng-checked="!vm.practice.data_aggregator" ng-click="vm.practice.data_aggregator=!vm.practice.data_aggregator" value="false" >
        Practice/Organization
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" name="dataAggregator" ng-model="vm.practice.data_aggregator">
        Data Aggregator
      </label>
    </div>
  </div>
  <div class="form-group is-required">
    <label for="practiceName" class="col-sm-3 control-label">Name:</label>
    <div class="col-sm-6">
      <input class="form-control" id="practiceName" name="practiceName" ng-model="vm.practice.name" required type="text">
      <div ng-messages="practiceForm.practiceName.$error" ng-if="practiceForm.practiceName.$touched || practiceForm.$submitted">
        <div ng-message="required">This is required.</div>
      </div>
    </div>
  </div>
  <div class="form-group is-required">
    <label for="practiceAddress" class="col-sm-3 control-label">Address:</label>
    <div class="col-sm-6">
      <input class="form-control" id="practiceAddress" name="practiceAddress" ng-model="vm.practice.address" required type="text">
      <div ng-messages="practiceForm.practiceAddress.$error" ng-if="practiceForm.practiceAddress.$touched || practiceForm.$submitted">
        <div ng-message="required">This is required.</div>
      </div>
    </div>
  </div>
  <div class="form-group is-required">
    <label for="practiceCity" class="col-sm-3 control-label">City:</label>
    <div class="col-sm-6">
      <input class="form-control" id="practiceCity" name="practiceCity" ng-model="vm.practice.city" required type="text" />
      <div ng-messages="practiceForm.practiceCity.$error" ng-if="practiceForm.practiceCity.$touched || practiceForm.$submitted">
        <div ng-message="required">This is required.</div>
      </div>
    </div>
  </div>
  <div class="form-group form-groupWr is-required">
    <label for="practiceState" class="col-sm-3 control-label">State:</label>
    <div class="col-sm-2">
      <select class="form-control" id="practiceState" name="practiceState" required ng-model="vm.practice.state">
        <option value="AL">Alabama</option>
        <option value="AK">Alaska</option>
        <option value="AZ">Arizona</option>
        <option value="AR">Arkansas</option>
        <option value="CA">California</option>
        <option value="CO">Colorado</option>
        <option value="CT">Connecticut</option>
        <option value="DE">Delaware</option>
        <option value="DC">District Of Columbia</option>
        <option value="FL">Florida</option>
        <option value="GA">Georgia</option>
        <option value="HI">Hawaii</option>
        <option value="ID">Idaho</option>
        <option value="IL">Illinois</option>
        <option value="IN">Indiana</option>
        <option value="IA">Iowa</option>
        <option value="KS">Kansas</option>
        <option value="KY">Kentucky</option>
        <option value="LA">Louisiana</option>
        <option value="ME">Maine</option>
        <option value="MD">Maryland</option>
        <option value="MA">Massachusetts</option>
        <option value="MI">Michigan</option>
        <option value="MN">Minnesota</option>
        <option value="MS">Mississippi</option>
        <option value="MO">Missouri</option>
        <option value="MT">Montana</option>
        <option value="NE">Nebraska</option>
        <option value="NV">Nevada</option>
        <option value="NH">New Hampshire</option>
        <option value="NJ">New Jersey</option>
        <option value="NM">New Mexico</option>
        <option value="NY">New York</option>
        <option value="NC">North Carolina</option>
        <option value="ND">North Dakota</option>
        <option value="OH">Ohio</option>
        <option value="OK">Oklahoma</option>
        <option value="OR">Oregon</option>
        <option value="PA">Pennsylvania</option>
        <option value="RI">Rhode Island</option>
        <option value="SC">South Carolina</option>
        <option value="SD">South Dakota</option>
        <option value="TN">Tennessee</option>
        <option value="TX">Texas</option>
        <option value="UT">Utah</option>
        <option value="VT">Vermont</option>
        <option value="VA">Virginia</option>
        <option value="WA">Washington</option>
        <option value="WV">West Virginia</option>
        <option value="WI">Wisconsin</option>
        <option value="WY">Wyoming</option>
      </select>
      <div ng-messages="practiceForm.practiceState.$error" ng-if="practiceForm.practiceState.$touched || practiceForm.$submitted">
        <div ng-message="required">This is required.</div>
      </div>
    </div>

    <label for="practiceZip" class="col-sm-2 control-label">Zip Code:</label>
    <div class="col-sm-2">
      <input class="form-control" id="practiceZip" name="practiceZip" required ng-model="vm.practice.zip_code" type="text" placeholder="XXXXX-YYYY" ng-pattern="/^\d{5}([\-]?\d{4})?$/" />
      <div ng-messages="practiceForm.practiceZip.$error" ng-if="practiceForm.practiceZip.$touched || practiceForm.$submitted">
        <div ng-message="required">This is required.</div>
        <div ng-message="pattern">This is not valid value.</div>
      </div>
    </div>
  </div>
  <div class="form-group is-required">
    <label for="practicePhone" class="col-sm-3 control-label">Phone Number:</label>
    <div class="col-sm-2">
      <input class="form-control" id="practicePhone" name="practicePhone" ng-model="vm.practice.phone" required type="phone" placeholder="XXX-XXX-XXXX" ng-pattern="/^\d{3}-\d{3}-\d{4}$/">
      <div ng-messages="practiceForm.practicePhone.$error" ng-if="practiceForm.practicePhone.$touched || practiceForm.$submitted">
        <div ng-message="required">This is required.</div>
        <div ng-message="pattern">Numeric value, ex. 123-456-7890</div>
      </div>
    </div>
  </div>
  <div class="form-group is-required" ng-if="!vm.practice.data_aggregator">
    <label for="practiceNPI" class="col-sm-3 control-label">NPI:</label>
    <div class="col-sm-6">
      <input class="form-control" id="practiceNPI" name="practiceNPI" ng-model="vm.practice.npi" required type="text" maxlength="10" ng-pattern="/^\d{10}$/">
      <div ng-messages="practiceForm.practiceNPI.$error" ng-if="practiceForm.practiceNPI.$touched || practiceForm.$submitted">
        <div ng-message="required">This is required.</div>
        <div ng-message="pattern">Numeric value 10 characters in length.</div>
      </div>
    </div>
    <div class="col-sm-1" style="padding-left: 0;margin-left: -10px;">
      <a target="_blank" href="https://npiregistry.cms.hhs.gov/registry/search-results-table?number={{practiceForm.practiceNPI.$viewValue}}" class="btn btn-secondary" role="button">NPI Search</a>
    </div>
  </div>
  <div class="form-group is-required">
    <label for="practicePCN" class="col-sm-3 control-label">Primary Contact Name:</label>
    <div class="col-sm-6">
      <input class="form-control" id="practicePCN" name="practicePCN" ng-model="vm.practice.primary_contact_name" required type="text">
      <div ng-messages="practiceForm.practicePCN.$error" ng-if="practiceForm.practicePCN.$touched || practiceForm.$submitted">
        <div ng-message="required">This is required.</div>
      </div>
    </div>
  </div>
  <div class="form-group is-required">
    <label for="practicePCE" class="col-sm-3 control-label">Primary Contact e-mail:</label>
    <div class="col-sm-6">
      <input class="form-control" id="practicePCE" name="practicePCE" ng-model="vm.practice.primary_contact_email" required type="email" ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'>
      <div ng-messages="practiceForm.practicePCE.$error" ng-if="practiceForm.practicePCE.$touched || practiceForm.$submitted">
        <div ng-message="required">This is required.</div>
        <div ng-message="pattern">This is not valid email address.</div>
      </div>
    </div>
  </div>

  <div class="form-group flex-end practice-form-btnsWr">
    <div class="col-sm-2">
      <button class="btn btn-default btn-block" ng-click="vm.cancelSave()" type="button">Cancel</button>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-secondary btn-block" ng-click="vm.savePractice(vm.practice)">
        Save
      </button>
    </div>
  </div>
</form>