<h3 ng-if="vm.submission.addData.programName">{{vm.submission.addData.programName}}</h3>
<p>Manual Data Entry </p>
<div class="submission-manual-input-tableWr">
  <table class="table table-bordered">
    <thead>
      <tr class="bg-info">
        <th>ResponsibleProviderID</th>
        <th>NPI</th>
        <th>groupID</th>
        <th>individualGroup</th>
        <th>ChartID</th>
        <th>lastVisitDate</th>
        <th>PatientDOB</th>
        <th>patientAge</th>
        <th>patientGender</th>
        <th>patientRace</th>
        <th>medicarePartB</th>
        <th>diabetesDiagnosis</th>
        <th>HbA1c1</th>
        <th>HbA1cDate1</th>
        <th>HbA1c2</th>
        <th>HbA1cDate2</th>
        <th>LDLLevel</th>
        <th>LDLDate</th>
        <th>statinStatus</th>
        <th>systolic1</th>
        <th>diastolic1</th>
        <th>bloodPressureDate1</th>
        <th>systolic2</th>
        <th>diastolic2</th>
        <th>bloodPressureDate2</th>
        <th>tobaccoStatus</th>
        <th>tobaccoStatusAssessmentDate</th>
        <th>tobaccoCessationAdviceOrTreatmentDate</th>
        <th>footExam</th>
        <th>footExamDate</th>
        <th>bilateralamputation</th>
        <th>retinopathy</th>
        <th>retinalExamDate</th>
        <th>blindness</th>
        <th>nephropathyDiagnosis</th>
        <th>nephropathyEvidence</th>
        <th>microalbuminuriaLab</th>
        <th>microalbuminuriaDate</th>
        <th>macroalbuminuriaLab</th>
        <th>macroalbuminuriaDate</th>
        <th>hypertensionDiagnosis</th>
        <th>aceiArbTherapy</th>
        <th>bmiCalculation</th>
        <th>bmiDate</th>
        <th>bmiCounseling</th>
        <th>bmiCounselingDate</th>
        <th>ascvdAssessment</th>
        <th>ascvdDate</th>
        <th>aspirinTherapy</th>
        <th>aspirinUseConsidered</th>
        <th>PHQ2screening</th>
        <th>PHQ2screeningDate</th>
        <th>PHQ9screening</th>
        <th>PHQ9screeningDate</th>
      </tr>
    </thead>
    <tbody>
    
    </tbody>
  </table>

</div>
  <div class="flex-spaceb width-100 margin-v-20">
    <div class="col-sm-2">
      <button type="submit" class="btn btn-secondary btn-block" ng-click="vm.link.addRow()">
        Add new row
      </button>
    </div>
    <!--<div class="col-sm-2">-->
      <!--<button type="submit" class="btn btn-success btn-block" ng-click="vm.link.sendData()">-->
        <!--Upload Data-->
      <!--</button>-->
    <!--</div>-->
  </div>

  <div class="flex-end">
    <!--<div class="col-sm-2">-->
    <!--<a class="btn btn-default btn-block"  ui-sref="main.submission">Cancel</a>-->
    <!--</div>-->
    <div class="col-sm-2">
      <button type="submit" class="btn btn-secondary btn-block" ng-click="vm.link.sendData()">
        Submit Data
      </button>
    </div>
  </div>

<state-Pagination page="2"></state-Pagination>