<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Upload File</h3>
</div>
<div class="modal-body" id="modal-body">
  <p>To upload your BTE file click the "Browse" button on the lower right.  Select the file you would like to use for your submission.  Once the file has been chosen, click on the "Upload button on the lower left.                    </p>
</div>
<div class="modal-footer submission-file-uploader-popup-modal-footer">
  <div class="submission-file-uploader-popup-inputWr flex-end">
    <ul ng-repeat="file in vm_p.controller.formData.files"><li>{{file.name}}</li></ul>
    <button class="btn btn-default" type="button" ng-click="vm_p.controller.uploadNew()">Browse</button>
  </div>
  <button class="btn btn-secondary" type="button" ng-click="vm_p.controller.uploadFileToServer(vm_p.controller.formData.files)" ng-disabled="vm_p.controller.uploadDisabled">Upload</button>
</div>