<h3 ng-if="vm.submission.addData.programName">{{vm.submission.addData.programName}}</h3>
<div class="form-group checkbox">
  <label class="checkbox-inline" for="vm_submission_approve">
    <input id="vm_submission_approve" ng-model="vm.submission.addData.approve" type="checkbox" checked>
    I attest that:
  </label>
</div>
<ul class="submission-approve-points-list">
  <li>I have reviewed the patient eligibility criteria for the selected {{vm.submission.addData.programName}}.</li>
  <li>The data I have complied and am about to submit is on behalf of my clinic/facility providers and/or myself. Data is compliant with the “Patient Eligibility” specifications found in the appropriate {{vm.submission.addData.programName}}.</li>
  <li>I have reviewed all data and have only provided data for those patients with a documentation of the pertinent diagnosis as identified in the {{vm.submission.addData.programName}} Guide and data for at least 12 months (from the last day of the reporting period).</li>
  
  <p class="text-danger" ng-if="vm.submission.reporting_for === '2'">Depending on the size of your file, your upload can take up to 10 minutes. Please do not close the browser.</p>
</ul>

<div class="flex-end">
  <span class="control-label text-strong">
    <spinner ng-if="vm.providersListFileUploading"></spinner>
  </span>
  <div class="col-sm-2">
    <button type="submit" class="btn btn-secondary btn-block" ng-disabled="!vm.submission.addData.approve || vm.providersListFileUploading" ng-click="vm.submitSubmission()">
      Submit
    </button>
  </div>
</div>
<state-Pagination page="4"></state-Pagination>