<form name="submissionForm" class="form-horizontal submission-form" novalidate ng-submit="vm.submitState1()">
  <div class="form-group is-required">
    <label for="submissionProgram" class="col-sm-3 control-label">Program Name:</label>
    <div class="col-sm-7">
      <select class="form-control" id="submissionProgram" name="submissionProgram" ng-model="vm.submission.program_id" required>
        <option value="">select</option>
        <option ng-repeat="program in vm.formData.programs  | orderBy: 'name'" value="{{program.id}}">{{program.name}}</option>
      </select>
      <div ng-messages="submissionForm.submissionProgram.$error" ng-if="submissionForm.submissionProgram.$touched || submissionForm.$submitted">
        <div ng-message="required">This is required.</div>
      </div>
    </div>
  </div>
  <div class="form-group form-groupWr is-required">
    <label for="submissionReportingStart" class="col-sm-3 control-label">Reporting Date Range:</label>
    <div class="col-sm-3 form-group">
      <div class="input-group form-group">
        <input class="form-control"
            required
            id="submissionReportingStart"
            datepicker-options="vm.startDatepickerOptions"
            is-open="vm.popup1.opened"
            ng-change="vm.dateChanged()"
            ng-click="vm.showDatePicker1()"
            uib-datepicker-popup="MM/dd/yyyy"
            placeholder="MM/DD/YYYY"
            check-date-format
            check-date-diff-from-today
            name="submissionReportingStart"
            ng-model="vm.submission.reportingStart"
            type="text">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="vm.showDatePicker1()"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </div>
      <div ng-messages="submissionForm.submissionReportingStart.$error" ng-if="submissionForm.submissionReportingStart.$touched || submissionForm.$submitted">
        <div ng-message="required">This is required.</div>
        <div ng-message="badDate">Wrong date format (MM/DD/YYYY expected).</div>
        <div ng-message="wrongDate">Wrong date.</div>
      </div>
    </div>
    
    <label for="submissionReportingEnd" class="col-sm-1 control-label">through</label>
    <div class="col-sm-3 form-group">
      <div class="input-group form-group">
        <input class="form-control" required id="submissionReportingEnd" is-open="vm.popup2.opened" ng-click="vm.showDatePicker2()" uib-datepicker-popup="MM/dd/yyyy" name="submissionReportingEnd" placeholder="MM/DD/YYYY" check-date-format ng-model="vm.submission.reportingEnd" type="text" disabled>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="vm.showDatePicker2()" disabled><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </div>
      <div ng-messages="submissionForm.submissionReportingEnd.$error" ng-if="submissionForm.submissionReportingEnd.$touched || submissionForm.$submitted">
        <div ng-message="required">This is required.</div>
        <div ng-message="badDate">Wrong date format (mm/dd/yyyy expected).</div>
      </div>
    </div>
  </div>
  
  <!--<div class="form-group">-->
  <!--<label class="col-sm-3 control-label">Reporting Method:</label>-->
  <!--<div class="col-sm-7">-->
  <!--<div class="radio-wrapper">-->
  <!--<input name="submissionFile" id="submissionFileTrue" ng-model="vm.submission.addData.file" value="true" type="radio">-->
  <!--<label for="submissionFileTrue">Upload File (csv. format)</label>-->
  <!--</div>-->
  <!--<div class="radio-wrapper">-->
  <!--<input name="submissionFile" id="submissionFileFalse" ng-model="vm.submission.addData.file" value="false" type="radio">-->
  <!--<label for="submissionFileFalse">Manual Data Entry</label>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  
  <div class="form-group">
    <label class="col-sm-3 control-label">Reporting for:</label>
    <div class="col-sm-7">
      <div class="radio-wrapper">
        <input name="submissionReportingType" id="submissionReportingTypeIndividual" ng-model="vm.submission.reporting_for" value="0" type="radio" ng-disabled="!vm.formData.providers.length">
        <label for="submissionReportingTypeIndividual">Individual</label>
      </div>
      <div class="radio-wrapper">
        <input name="submissionReportingType" id="submissionReportingTypeGroup" ng-model="vm.submission.reporting_for" value="1" type="radio" ng-disabled="!vm.formData.providers.length">
        <label for="submissionReportingTypeGroup">Group</label>
      </div>
      <div class="radio-wrapper" ng-if="vm.formData.practice.data_aggregator">
        <input name="dataAggregator" id="dataAggregator" ng-model="vm.submission.reporting_for" value="2" type="radio">
        <label for="dataAggregator">Data Aggregator</label>
      </div>
    </div>
  </div>
  <div class="form-group" ng-if="vm.submission.reporting_for">
    <label class="col-sm-3 control-label">Clinic / Facility Name:</label>
    <div class="col-sm-7 flex flex-aic">
      <span class="width-100">{{vm.formData.clinicName}}</span>
      <button type="button" class="btn btn-default" ng-click="vm.gotoPracticeEdit()">Edit</button>
    </div>
  </div>
  <div class="form-group" ng-if="vm.submission.reporting_for === '0' && vm.formData.providers && vm.formData.providers.length">
    <label for="submissionProvider" class="col-sm-3 control-label">Provider Name:</label>
    <div class="col-sm-7 flex">
      <select
          class="form-control submission-form-select"
          id="submissionProvider"
          name="submissionProvider"
          ng-model="vm.submission.provider"
          ng-options="provider.displayName disable when provider.disabled for provider in vm.formData.providers track by provider.id">
        <!--<option ng-repeat="provider in vm.formData.providers" value="{{provider.id}}" ng-disabled="{{provider.disabled}}">{{provider.displayName}}</option>-->
      </select>
      <button type="button" class="btn btn-default" ng-click="vm.gotoProviderCreate()">Add</button>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-7">
      <span ng-if="vm.formData.disabledProviders" class="text-danger">You can't select greyed out providers because they have submissions last 90 days</span>
    </div>
  </div>
  <div class="form-group is-required" ng-if="vm.submission.reporting_for === '1' && vm.formData.providers && vm.formData.providers.length">
    <label class="col-sm-3 control-label">Select which providers you will be submitting data for:</label>
    <div class="col-sm-7">
      <div class="flex width-100">
        <div class="width-100 submission-form-select" ng-dropdown-multiselect events="{onSelectionChanged: vm.changeProvidersState, onInitDone: vm.changeProvidersInitEvent}" options="vm.formData.providers" selected-model="vm.submission.providers" extra-settings="vm.submission.addData.multiselect_options">
        </div>
        <button type="button" class="btn btn-default" ng-click="vm.gotoProviderCreate()">Add</button>
      </div>
      <div class="ng-fake-message" ng-if="(!vm.submission.providers || vm.submission.providers.length === 0) && submissionForm.$submitted && !vm.formData.providersState._isInited">
        <div>At least 1 provider should be selected</div>
      </div>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-7">
      <span class="text-danger">You can't select greyed out providers because they have submissions last 90 days</span>
    </div>
  </div>
  
  <div class="form-group" ng-if="vm.submission.reporting_for !== '2'">
    <label class="col-sm-3 control-label">Was this data extracted from an EHR System?</label>
    <div class="col-sm-7">
      <div class="radio-wrapper">
        <input name="vm_submission_from_ehr" id="vm_submission_from_ehr_true" ng-model="vm.submission.from_ehr" value="true" type="radio">
        <label for="vm_submission_from_ehr_true">Yes</label>
      </div>
      <div class="radio-wrapper">
        <input name="vm_submission_from_ehr" id="vm_submission_from_ehr_false" ng-model="vm.submission.from_ehr" value="false" type="radio">
        <label for="vm_submission_from_ehr_false">No</label>
      </div>
    </div>
  </div>
  <div ng-if="vm.submission.from_ehr === 'true'">
    <div class="form-group">
      <label for="submissionEHRName" class="col-sm-3 control-label">Name of EHR System:</label>
      <div class="col-sm-7">
        <input class="form-control" id="submissionEHRName" name="submissionEHRName" ng-model="vm.submission.ehr" type="text">
      </div>
    </div>
    <div class="form-group">
      <label for="submissionEHRID" class="col-sm-3 control-label">CMS EHR Certification ID:</label>
      <div class="col-sm-7">
        <input class="form-control" id="submissionEHRID" name="submissionEHRID" ng-model="vm.submission.ehr_id" type="text">
      </div>
    </div>
  </div>
  <div class="form-group" ng-if="vm.submission.reporting_for === '2'">
    <div class="col-sm-10 flex-end flex-aic">
      <span class="control-label text-strong">
        <span ng-if="vm.submission.providersListData && vm.submission.providersListData.fileName">{{vm.submission.providersListData.fileName}}</span>
        <spinner ng-if="vm.providersListFileUploading"></spinner><!---->
      </span>
      <div class="oh providersListFileInput" input-provider>
      </div>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-7">
      <div class="ng-fake-message width-100 text-right" ng-if="(!vm.submission.providers || vm.submission.providers.length === 0) && !vm.submission.providersListData.errorData.length && submissionForm.$submitted && !vm.formData.providersState._isInited">
        <div>You need to upload file with providers list.</div>
      </div>
      <div class="ng-fake-message width-100 text-right" ng-if="vm.formData.uploadedFileErrors && submissionForm.$submitted && !vm.formData.providersState._isInited">
        <div>There are errors in uploaded file.</div>
      </div>
    </div>
  </div>
  <div class="form-group" ng-if="vm.submission.reporting_for === '2' && vm.submission.providersListData">
    <div class="col-sm-3"></div>
    <div class="col-sm-7">
      <table class=" table table-bordered">
        <thead class="bg-success">
        <tr>
          <th>Status</th>
          <th>Results</th>
          <th>Errors/Warnings</th>
          <th>Preview</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr class="myPractice-submissions-item" style="margin-top: 20px;">
          <td>{{vm.submission.providersListData.status}}</td>
          <td>{{vm.submission.providersListData.count}} Providers Records</td>
          <td>{{vm.submission.providersListData.errors}}&nbsp;errors&nbsp;/ {{vm.submission.providersListData.warnings}}&nbsp;warnings</td>
          <td providers-Viewer modal-title="Providers Data" btn-title="View file" providers-file-data="vm.getProvidersFileData()"></td>
          <td>
            <button type="button" class="glyphicon glyphicon-trash" ng-click="vm.clearProviders()"></button>
          </td>
        </tr>
        </tbody>
      </table>
      <div ng-if="vm.submission.providersListData.errorData && vm.submission.providersListData.errorData.length">
        <div class="ng-fake-message" ng-if="vm.submission.providersListData.errorData.length === vm.submission.providersListData.count && submissionForm.$submitted && !vm.formData.providersState._isInited">
          <div>There is no available providers in current file.</div>
        </div>
        The following providers will be ignored because of last submitted date:
        <table class=" table table-bordered">
          <thead class="bg-success">
          <tr>
            <th>NPI</th>
            <th>Date submitted</th>
          </tr>
          </thead>
          <tbody>
          <tr class="myPractice-submissions-item" ng-repeat="provider in vm.submission.providersListData.errorData">
            <td>{{provider.npi}}</td>
            <td>{{provider.last_submission_date | date : 'MM/dd/yy'}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="form-group flex-end submission-form-btnsWr">
    <!--<div class="col-sm-2">-->
    <!--<a class="btn btn-default btn-block"  ui-sref="main.submission">Cancel</a>-->
    <!--</div>-->
    <div class="col-sm-2">
      <button type="submit" class="btn btn-secondary btn-block">
        Next
      </button>
    </div>
  </div>
</form>
<state-Pagination page="1"></state-Pagination>
