<h3 ng-if="vm.submission.addData.programName">{{vm.submission.addData.programName}}</h3>
<p>Data Review</p>
<p>Below you will find details of your submission. Please carefully examine your data below, to ensure your data has been either uploaded or entered successfully. If after reviewing your data you are ready to submit, click the Next button on the lower right hand side to proceed with your submission. </p>
<p>However, if there are errors or warnings displayed below you are able review your data via the “View File” hyperlink found in the Preview column below. </p>
<p>While errors will prevent you from submitting, a warning will not. To correct the errors within your data:</p>
<ol>
  <li>Review your file below and update your data.</li>
  <li>Click on the delete icon to remove the current data.</li>
  <li>Click on the Cancel button to resubmit your data.</li>
</ol>
<p></p>
<table class="table table-bordered">
  <thead class="bg-success">
  <tr>
    <th>Program Name</th>
    <th>Data/File Submission</th>
    <th>Submission Status</th>
    <th>Submission Results</th>
    <th>Errors/Warnings</th>
    <th>Preview</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
    <tr class="myPractice-submissions-item" style="margin-top: 20px;">
      <td>{{vm.submission.addData.programName}}</td>
      <td>{{vm.submission.addData.fileName}}</td>
      <td>{{vm.submission.addData.status}}</td>
      <td>{{vm.submission.addData.count}} Patient Records</td>
      <td>{{vm.submission.addData.errors}}&nbsp;errors&nbsp;/ {{vm.submission.addData.warnings}}&nbsp;warnings</td>
      <td submission-Viewer  modal-title="Submission Data" btn-title="View file" submission-file-data="vm.getSubmissionFileData()"></td>
      <td><button type="button" class="glyphicon glyphicon-trash" ng-click="vm.delFileFromServer(vm.submission.temp_id)"></button></td>
    </tr>
  </tbody>
</table>

<div class="flex-end">
  <div class="col-sm-2">
    <a class="btn btn-default btn-block"  ui-sref="main.submissions">Cancel</a>
  </div>
  <div class="col-sm-2">
    <button type="submit" class="btn btn-secondary btn-block" ng-click="vm.goToTab(4)" ng-disabled="vm.submission.addData.disableSubmit">
      Next
    </button>
  </div>
</div>
<state-Pagination page="3"></state-Pagination>