<h3 ng-if="vm.submission.addData.programName">{{vm.submission.addData.programName}}</h3>
<div class="width-100 flex-center submission-last-step-content">
  <p class="flex-center width-100">Thank you for your submission!</p>
</div>
<div class="flex-end">
  <div class="col-sm-2">
    <button class="btn btn-default btn-block"  ng-click="vm.clearData()">Close</button>
  </div>
</div>
<state-Pagination page="5"></state-Pagination>