<ul class="width-100 flex-center submission-pagination">
  <li class="submission-pagination-page bg-default" ng-repeat="page in vm.pages" ng-class="{'bg-primary': page.active}">
    {{page.number}} <button class="submission-pagination-hidden-btn" ng-if="(page.number === 1 || page.number === 2) && page.available" ng-click="vm.goToTab(page.number, {check1state: page.number === 2})"></button>
  </li>
</ul>