<h3 ng-if="vm.submission.addData.programName">{{vm.submission.addData.programName}}</h3>
<p>Upload File (.csv Format)</p>
<div class="submission-file-uploaderWr width-100 flex-center">
  <div id="submission-file-uploader" class="well submission-file-uploader col-sm-8 flex-center">
    <div class="submission-file-uploader-spinnerWr abs-width-height-100 flex-center flex-aic" ng-if="vm.loading">
      <spinner></spinner>
    </div>
    <label for="submissionFileUploader" class="abs-width-height-100">
      <span class="submission-file-uploader-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -256 1950 1950" version="1.1">
          <g transform="matrix(1,0,0,-1,22.779661,1428.2373)" id="g3003">
            <path d="m 1280,672 q 0,14 -9,23 l -352,352 q -9,9 -23,9 -14,0 -23,-9 L 522,696 q -10,-12 -10,-24 0,-14 9,-23 9,-9 23,-9 H 768 V 288 q 0,-13 9.5,-22.5 Q 787,256 800,256 h 192 q 13,0 22.5,9.5 9.5,9.5 9.5,22.5 v 352 h 224 q 13,0 22.5,9.5 9.5,9.5 9.5,22.5 z M 1920,384 Q 1920,225 1807.5,112.5 1695,0 1536,0 H 448 Q 263,0 131.5,131.5 0,263 0,448 q 0,130 70,240 70,110 188,165 -2,30 -2,43 0,212 150,362 150,150 362,150 156,0 285.5,-87 129.5,-87 188.5,-231 71,62 166,62 106,0 181,-75 75,-75 75,-181 0,-76 -41,-138 130,-31 213.5,-135.5 Q 1920,518 1920,384 z" id="path3005" inkscape:connector-curvature="0" style="fill:currentColor"/>
          </g>
        </svg>
      </span>
      <span>Drop file here or click here to upload.</span>
    </label>
    <input class="submission-file-uploader-input" id="submissionFileUploader" type="file" accept=".csv, text/csv"/>
  </div>
  <p class="text-danger" ng-hide="vm.submission.temp_id">It is important to note that only a BTE data template may be used to gather and submit data.</p>
  <p class="text-danger" ng-if="vm.submission.reporting_for === '2'">Depending on the size of your file, your upload can take up to 10 minutes.  Please do not close the browser.</p>
  <div ng-if="vm.submission.addData.fileName" class="submission-file-nameWr width-100 flex-center text-primary">
    <p>File Attached: {{vm.submission.addData.fileName}}</p>
    <button type="button" class="glyphicon glyphicon-trash" ng-click="vm.delFileFromServer(vm.submission.temp_id)"></button>
  </div>
</div>

<div class="flex-end">
  <!--<div class="col-sm-2">-->
  <!--<a class="btn btn-default btn-block"  ui-sref="main.submission">Cancel</a>-->
  <!--</div>-->
  <div class="col-sm-2">
    <button type="submit" class="btn btn-secondary btn-block" ng-disabled="!vm.submission.temp_id" ng-click="vm.goToTab(3)">
      Submit Data
    </button>
  </div>
</div>
<state-Pagination page="2"></state-Pagination>