<form name="registerForm" class="form-horizontal login-form" novalidate ng-submit="vm.register(vm.regModel)">
  <p class="text-strong">Please Note: You will need a smart phone or tablet with the <span style="white-space: nowrap;">Google Authenticator</span> before you begin your registration. Please click
    <a style="text-decoration: underline;" href="http://www.bridgestoexcellence.org/portal_registration" target="_blank">here</a> for steps on how to download.</p>
  <div class="form-group is-required">
    <label for="registerFName" class="col-sm-3 control-label">First name</label>
    <div class="col-sm-9">
      <input class="form-control" id="registerFName" name="registerFName" ng-model="vm.regModel.firstname" required type="text">
      <div ng-messages="registerForm.registerFName.$error" ng-if="registerForm.registerFName.$touched || registerForm.$submitted">
        <div ng-message="required">This is required.</div>
        <!--<div ng-message="pattern">This is not valid email address.</div>-->
      </div>
    </div>
  </div>
  <div class="form-group is-required">
    <label for="registerLName" class="col-sm-3 control-label">Last name</label>
    <div class="col-sm-9">
      <input class="form-control" id="registerLName" name="registerLName" ng-model="vm.regModel.lastname" required type="text">
      <div ng-messages="registerForm.registerLName.$error" ng-if="registerForm.registerLName.$touched || registerForm.$submitted">
        <div ng-message="required">This is required.</div>
        <!--<div ng-message="pattern">This is not valid email address.</div>-->
      </div>
    </div>
  </div>
  <div class="form-group is-required">
    <label for="registerEmail" class="col-sm-3 control-label">Email</label>
    <div class="col-sm-9">
      <input class="form-control" id="registerEmail" name="registerEmail" ng-model="vm.regModel.username" required type="email" ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'>
      <div ng-messages="registerForm.registerEmail.$error" ng-if="registerForm.registerEmail.$touched || registerForm.$submitted">
        <div ng-message="required">This is required.</div>
        <div ng-message="pattern">This is not valid email address.</div>
      </div>
    </div>
  </div>
  <div class="form-group is-required">
    <label for="registerPassword" class="col-sm-3 control-label">Password</label>
    <div class="col-sm-9">
      <input class="form-control" id="registerPassword" name="registerPassword" ng-model="vm.regModel.password" required type="password" ng-minlength="15" placeholder="At least 15 characters long">
      <div ng-messages="registerForm.registerPassword.$error" ng-if="registerForm.registerPassword.$touched || registerForm.$submitted">
        <div ng-message="required">This is required.</div>
        <div ng-message="minlength">The password must be at least 15 characters long.</div>
      </div>
    </div>
  </div>
  <div class="form-group is-required">
    <label for="registerConfirmPassword" class="col-sm-3 control-label">Confirm Password</label>
    <div class="col-sm-9">
      <input class="form-control" id="registerConfirmPassword" name="registerConfirmPassword" ng-model="vm.regModel.password_conf" ng-pattern="vm.regModel.password" required type="password">
      <div ng-messages="registerForm.registerConfirmPassword.$error" ng-if="registerForm.registerConfirmPassword.$touched || registerForm.$submitted">
        <div ng-message="required">This is required.</div>
        <div ng-message="pattern">Passwords do not match.</div>
      </div>
    </div>
  </div>
  <div class="form-group is-required">
    <label for="registerPhone" class="col-sm-3 control-label">Phone #</label>
    <div class="col-sm-9">
      <input class="form-control" id="registerPhone" name="registerPhone" ng-model="vm.regModel.phone" required type="phone">
      <div ng-messages="registerForm.registerPhone.$error" ng-if="registerForm.registerPhone.$touched || registerForm.$submitted">
        <div ng-message="required">This is required.</div>
      </div>
    </div>
  </div>
  <div class="form-group flex-end">
    <div class="col-sm-9">
      <button type="submit" class="btn btn-secondary btn-block">
        Register
      </button>
    </div>
  </div>
  <div class="form-group flex-end">
    <div class="col-sm-9 flex-center">
      <a  ui-sref="login.page">Login</a>
    </div>
  </div>
</form>