<div class="agreement-page dashboard-content width-100">
  <h4 class="width-100">Great job on setting up your practice/facility!   One final housekeeping step.  </h4>
  <div class="flex-aic width-100">
    <div class="well col-lg-7 mb0">
      <p>In order to accept and assess your data you will need to click on the DocuSign button located on the right.  There you will be prompted to fill out and electornically               sign a BTE Data Submitter Agreeement.</p>
      <p>Once you have completed this step your BTE Data Submitter Agreement will be automattially sent to the Altarum legal department for processing.  Please note that this step           may take up to 3-5 business days.</p>
      <p>Once complete, you will recieve an email letting you know that you are able to proceed with your submssion.</p>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-3">
      <a
        ng-click="vm.onPdfClick()"
        class="pdf-file-icon"
		target="_blank"
        href="https://na3.docusign.net/Member/PowerFormSigning.aspx?PowerFormId=da71f39e-1dca-4dde-a750-3afedbd336c9">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 377.4 373.7" enable-background="new 0 0 377.4 373.7" xml:space="preserve">
<g>
	<path fill="#1B499F" d="M188.6,0.1c61.9,0,123.7,0,185.6-0.1c2.8,0,3.2,0.7,3.2,3.3c-0.1,122.3-0.1,244.7,0,367
		c0,2.5-0.3,3.3-3.2,3.3c-123.7-0.1-247.4-0.1-371.2,0c-2.6,0-3-0.6-3-3.1C0.1,248.1,0.1,125.6,0,3.1C0,0.1,1,0,3.4,0
		C65.1,0.1,126.9,0.1,188.6,0.1z M189.1,366.1c44.1,0,88.2,0,132.4,0c27,0,47.6-20.6,47.6-47.7c0-88.2,0-176.5,0-264.7
		c0-26.7-20.8-47.6-47.5-47.6c-88.2,0-176.5,0-264.7,0c-26.8,0-47.8,21-47.8,47.8c0,88.1,0,176.2,0,264.3c0,27,20.8,47.8,47.6,47.8
		C100.9,366.1,145,366.1,189.1,366.1z"/>
	<path fill="#FECC4E" d="M189.1,366.1c-44.1,0-88.2,0-132.4,0c-26.9,0-47.6-20.9-47.6-47.8c0-88.1,0-176.2,0-264.3
		c0-26.8,21-47.8,47.8-47.8c88.2,0,176.5,0,264.7,0c26.7,0,47.5,20.9,47.5,47.6c0,88.2,0,176.5,0,264.7c0,27.1-20.6,47.7-47.6,47.7
		C277.3,366.1,233.2,366.1,189.1,366.1z M126.8,75c0.3,0.3,0.5,0.5,0.8,0.8l-0.1,0c0.4,0.3,0.8,0.5,1.2,0.8c1,0.5,2,1.1,3,1.5
		c4.8,2.1,9.7,2.2,14.4-0.3c0.8-0.4,2.4-1.1,1.9-1.9c-1.1-1.8-2.7-3.2-4.1-4.7c-1.2-1.2-2,0.2-2.9,0.6c-2.7,0.9-5.3,0.6-7.1-1.7
		c-2.1-2.6-2.2-5.5-0.6-8.4c1.4-2.6,4.3-4.1,6.6-2.8c3.6,2,5-0.2,7-2.1c1.9-1.8,1.3-2.8-0.6-3.8c-4.9-2.6-9.8-2.1-14.8-0.3
		c-0.2,0.1-0.5,0.1-0.7,0.2c0,0,0.1-0.1,0.1-0.1c-0.5,0.3-1.1,0.5-1.6,0.8c0,0,0.1-0.1,0.1-0.1c-0.3,0.3-0.5,0.5-0.8,0.8l0.1-0.1
		c-0.3,0.3-0.5,0.5-0.8,0.8l0.1-0.1c-0.3,0.3-0.5,0.5-0.8,0.8l0.1-0.1c-0.3,0.5-0.5,1-0.8,1.4c-0.3,0.5-0.6,1.1-0.9,1.6
		c-1.9,0.2-1.4,3.7-4.1,3c-1.6-4.6-4.4-8.1-9.1-9.6c-6.9-2.2-13-0.8-18.1,4.4c-0.7-0.1-0.7,0.4-0.7,0.8l0-0.2
		c-0.3,0.5-0.5,1.1-0.8,1.6l0.1-0.1c-0.3,0.5-0.5,1.1-0.8,1.6l0.2,0c-0.8,0-1.5-0.1-2.3-0.1c0-7.8-2.8-14.2-9.9-18.2
		c-0.3-0.4-0.5-1-0.9-1.2c-8.5-3.5-17.3-3.2-26.1-1.3c0,12,0.1,23.9,0,35.9c0,2.8,0.8,3.7,3.6,3.6c4-0.2,8,0.1,12-0.1
		c9.9-0.4,17.2-4.5,20.6-14.3c2.2,1.4,0.7,4.6,2.9,6l-0.1-0.1c0.3,0.8,0.5,1.6,0.8,2.3l-0.1-0.1c0.3,0.3,0.5,0.5,0.8,0.8l0-0.2
		c0,0.4,0.1,0.9,0.7,0.8c10.2,9.1,22.2,6.8,27.2-5.2c2.6-0.7,2.1,2.8,4.1,3c0.2,0.1,0.2,0.3,0.2,0.6c0.3,0.6,0.5,1.2,0.8,1.7l0-0.1
		C126.4,74.5,126.6,74.8,126.8,75L126.8,75z M160.4,69.9l0.1,0.1c0-5,0.1-9.9,0.1-14.9c0-1.3,0-2.5-1.3-3.3c-0.3,0-0.6,0.1-0.9,0.1
		c-2,0-4,0-6,0c-0.4,0-0.9,0-1.3,0c-0.1,0.2-0.1,0.5-0.2,0.7c0.4,5,0.3,10,0,15c-1,1.6-1.1,3.1,0.4,4.5l0.4,0
		c1.7,8.1,9.1,10,17.2,4.3c0.1,2.1,1.3,2.7,3.1,2.5c1.7-0.2,3.5-0.1,5.2-0.1c0.7,0,1.4,0,2.1,0c2.9,1.5,6.2-0.1,9.8,1.2
		c-1.6,0.8-2.8,1.3-3.8,1.9c-1.1,0.7-3,0.9-2.5,2.7c0.5,1.8,2.4,1.5,3.8,1.4c5.1-0.4,10.1-1.6,14.2-4.4c4-2.7,10.5,0.4,12.6-5.9
		c7.5-4.1,14.9-8.5,22.2-13.6c0.7,3.6-0.5,6.4-1.1,9.2c-0.5,2.2-0.3,4.2,1.2,5.9c1.6,1.8,13.9,3.7,14.8,1.9c1.5-3.2,4.7-2.6,6.6-4.6
		c4.5-1.9,7.8-5.8,12.3-7.6c1.3,2.9-1.3,9.5-4,9.2c-5.3-0.7-8.7,1.8-11.7,5.6c-3.9,3.8-7.7,7.7-9.3,13.2c-1.3,2.5-1,4.9,1.1,6.8
		c2.2,2,4.3,0.5,6.1-0.7c6.9-4.6,12.4-10.5,16.5-17.7c0.9-1.7,1.8-2.9,4-2.1c0.8,0.3,2.2,0.9,2.7-0.3c0.5-1.3-0.7-2.1-1.7-2.5
		c-1.8-0.7-1.6-1.6-0.9-3.1c1.9-4.2,3.8-8.5,5.4-12.8c1.9-5.1-0.6-8.3-6-8c-2.2,0.1-4.1,0.8-6.1,1.7c-5.3,2.4-9.8,6-14.4,9.4
		c-2.6,2-5.2,3.9-7.8,5.8c-0.8,0.6-1.8,1.2-2.8,0.5c-1.2-0.8-0.6-2-0.2-3.1c0.9-2.3,1.9-4.6,2.7-7c0.7-2.1-0.1-3.9-1.8-5.3
		c-1.6-1.3-3.1-0.4-4.5,0.5c-2.7,1.8-5.3,3.7-8.1,5.5c-2.2,1.4-4.2,3.5-7.1,3.7c1-9.1-0.4-11-9.5-13c-2.1-0.5-4.2-0.7-6.3-1.1
		c-3.9-0.6-7.9-1-11.8-1.9c-4.9-1.1-5.4-3.4-1.8-6.9c0.8-0.8,1.7-1.5,2.6-2.1c7.6-5.1,15.9-8.4,25-9.5c4.3-0.5,8.5,0.1,12.5,1.7
		c2.1,0.8,3.6,2.2,1.2,4.5c-0.6,0.6-1.3,1.3-0.7,2.3c0.7,1.1,1.9,1.2,3,0.8c2.3-0.7,3-2.5,3-4.6c0-5-3-8.8-8.1-10.4
		c-12.9-4-38.3,6.4-44.9,18.3c-1.7,3.1-1.2,5.3,1.9,7.3c2.9,1.8,6.2,2.5,9.5,3.4c4.5,1.2,9.1,1.8,13.3,3.7c4.6,2.1,5.6,5.6,1.7,8.7
		c-6.3,5-12.1,11.5-21.8,9.5c-3.5-0.7-7.2-0.1-10.8-0.1c-0.9-1.3-0.8-2.9-0.8-4.3c0-5.5,0-11,0-16.5c0-1.5,0.3-3.1-1.4-4
		c-2.8,0-5.6,0-8.4,0c-2.6,5.7-1.5,11.5-0.6,17.3c-2,3.6-4.2,4.1-7.5,1.5C160.6,70.3,160.5,70.1,160.4,69.9z M312.9,77.3
		c0,0-0.2-0.2-0.2-0.2c1.1,0.8,2.2,1.6,3.3,2.5c3.6,0,7.2-0.1,10.8-0.1c2.4,0,2.8-1.1,1.8-3.1c-1.7-2.2-4.1-1-6.2-1.3
		c-1.7-0.2-3.5,0.3-4.4-1.8c1.2-1.4,2.5-2.8,3.6-4.3c0.8-1.1,1.1-2.4-0.1-3.3c-1.3-1.1-2,0.3-2.7,1c-2.3,2.2-4.5,4.7-7.3,6.4
		c-0.8,0.5-1.6,0.9-2.4,0.3c-0.9-0.6-0.7-1.5-0.6-2.4c0.3-2.2,1-4.4,1-6.6c0.2-6-2.9-8.1-8.3-5.6c-2.9,1.3-5.6,3.2-8.6,5
		c-0.3-2.7-1.3-5-4.1-5.7c-3.9-0.9-10.9,5.9-10.6,10.2c1.8-0.9,3.6-1.8,5.3-2.6c0.2,0.2,0.5,0.4,0.7,0.6c-3.3,3-4.4,7.4-7.1,10.8
		c-0.8,1,0,2.1,1.5,2.1c2.1,0,4.3,0.3,6.3,0c1.7-0.2,4.7,1.5,4.9-1.4c0.2-2.8-3.2-0.4-4.7-2.2c4.7-3.8,8.8-8.2,14.2-11.2
		c1.3-0.7,3-2,3.9,0.7c-0.9,1.2-0.9,2.5-0.9,3.9c0.2,3.5,0.1,6.5-4.7,6.2c-0.4,0-0.9,0.8-1.3,1.2c0.1,1.1-0.5,2.8,1.4,2.8
		c4,0,8.1,0.7,12-0.5c0.3-0.3,0.6-0.6,0.9-0.9c0,0,0.2,0.1,0.2,0.1C311.6,77.8,312.2,77.5,312.9,77.3z M321.1,94.5
		c3.9,1,6.7-0.2,7.4-3.4c0.6-2.8-1.3-5.6-4.2-6c-1.8-0.3-3.1,0.8-4.6,1.3C317.4,89.6,317.9,92.4,321.1,94.5z M276.1,192.2
		c-16-0.1-32-0.1-48-0.2l0,0c0-24,0-48-0.1-72c0-6.6,0.6-5.9-5.7-5.9c-22.6-0.1-45.2,0-67.8,0c-4.9,0-5,0-5,4.8
		c0,24.4-0.1,48.7-0.1,73.1l0,0c-16,0-31.9,0-48.1,0c0.5,1.8,1.4,2.4,2.3,3.2c0.3,0.4,0.5,0.9,0.9,1.2
		c27.5,30.5,55.1,60.9,82.5,91.5c2.1,2.3,3,1.3,4.5-0.4c12.8-14.3,25.7-28.6,38.6-42.8c15.1-16.8,30.2-33.6,45.3-50.4
		c0.3-0.3,0.5-0.5,0.8-0.8C276.5,193.1,277.4,192.7,276.1,192.2z M321.8,313.4c-1-1.6-2.6-1.3-4-1.3c-85.8,0-171.6,0-257.4,0
		c-1.5,0-3.1-0.3-4,1.3c-4.7,2.7-6.4,5.7-5.3,9.5c1,3.6,3.8,5.6,8.2,5.6c86.6,0,173.3,0,259.9,0c4.2,0,7-2,8-5.4
		c1.1-3.6-0.4-6.9-4.1-9.1C322.7,313.8,322.3,313.6,321.8,313.4z M225.1,79.4C225.1,79.4,225.1,79.4,225.1,79.4c1.6,0,3.2,0,4.8,0
		c1,0,1.6-0.5,1.6-1.6c-0.1-1-0.7-1.2-1.5-1.2c-3.3,0-6.7,0-10,0c-0.8,0-1.5,0.2-1.6,1.2c-0.1,1.1,0.5,1.6,1.5,1.6
		C221.7,79.4,223.4,79.4,225.1,79.4z M247.5,45.6c1.8-0.3,2.9-1.3,2.9-3.2c0-1.9-1-3.1-2.9-3.2c-1.9,0-2.9,1.2-3,3.1
		C244.6,44.3,245.6,45.3,247.5,45.6z"/>
	<path fill="#CA3927" d="M275.3,194.3c-15.1,16.8-30.2,33.6-45.3,50.4c-12.9,14.3-25.8,28.5-38.6,42.8c-1.5,1.7-2.4,2.7-4.5,0.4
		c-27.5-30.5-55-61-82.5-91.5c-0.3-0.4-0.6-0.8-0.9-1.2c0.9-2.1,2.9-1.7,4.5-1.7c12.2,0,24.4,0,36.6,0c1.7,0,3.6,0.6,4.7-1.5
		c0,0,0,0,0,0c2-1.1,1.5-3,1.5-4.7c0-22.1,0-44.2,0-66.3c0-5.5,0-5.5,5.7-5.5c21.5,0,42.9,0,64.4,0c5.6,0,5.7,0,5.7,5.6
		c0,22,0,43.9,0,65.9c0,1.8-0.7,3.9,1.5,5c0,0,0,0,0,0c1,2.1,3,1.5,4.6,1.5c12.4,0,24.7,0,37.1,0
		C271.7,193.6,273.6,193.5,275.3,194.3z"/>
	<path fill="#CA3927" d="M321.8,313.4c0.4,0.2,0.9,0.4,1.3,0.7c3.7,2.2,5.2,5.5,4.1,9.1c-1,3.4-3.9,5.4-8,5.4
		c-86.6,0-173.3,0-259.9,0c-4.4,0-7.2-2-8.2-5.6c-1-3.8,0.7-6.9,5.3-9.5C144.9,313.4,233.3,313.4,321.8,313.4z"/>
	<path fill="#CA3927" d="M253.5,81.7c3-3.8,6.4-6.2,11.7-5.6c2.6,0.3,5.3-6.2,4-9.2c0.9-0.2,2.4,0.1,2.4-1c-0.1-1.5-1.7-1.7-3-2.1
		c0.4-1.2,2.1-1.8,1.8-4c-6.7,2.5-12.1,6.4-16.5,11.7c-0.1,0.2,0.3,0.8,0.4,1.3c0.8,0.6,1.7,1.1,2.5,1.7c-1.9,1.9-5.1,1.4-6.6,4.6
		c-0.9,1.9-13.1,0-14.8-1.9c-1.6-1.7-1.7-3.7-1.2-5.9c0.7-2.8,1.9-5.6,1.1-9.2c-7.3,5.1-14.7,9.5-22.2,13.6
		c-2.1,6.3-8.6,3.2-12.6,5.9c-4,2.8-9.1,4-14.2,4.4c-1.4,0.1-3.3,0.4-3.8-1.4c-0.5-1.8,1.4-2,2.5-2.7c1-0.6,2.2-1.1,3.8-1.9
		c-3.5-1.3-6.9,0.3-9.8-1.2c0.1-0.7,0.1-1.5,0.2-2.2c3.6,0,7.4-0.6,10.8,0.1c9.6,1.9,15.5-4.5,21.8-9.5c3.9-3.1,2.8-6.6-1.7-8.7
		c-4.2-1.9-8.9-2.6-13.3-3.7c-3.3-0.8-6.6-1.5-9.5-3.4c-3.1-2-3.6-4.1-1.9-7.3c6.6-12,32-22.3,44.9-18.3c5.2,1.6,8.2,5.4,8.1,10.4
		c0,2.2-0.7,4-3,4.6c-1.1,0.3-2.3,0.3-3-0.8c-0.6-1,0.1-1.7,0.7-2.3c2.4-2.2,0.9-3.6-1.2-4.5c-4-1.6-8.2-2.3-12.5-1.7
		c-9.1,1.1-17.4,4.4-25,9.5c-0.9,0.6-1.8,1.4-2.6,2.1c-3.6,3.5-3.1,5.8,1.8,6.9c3.9,0.9,7.9,1.3,11.8,1.9c2.1,0.3,4.2,0.6,6.3,1.1
		c9.1,2,10.5,3.9,9.5,13c2.9-0.3,4.9-2.3,7.1-3.7c2.7-1.7,5.3-3.7,8.1-5.5c1.4-0.9,2.8-1.8,4.5-0.5c1.7,1.4,2.5,3.2,1.8,5.3
		c-0.8,2.4-1.9,4.6-2.7,7c-0.4,1-0.9,2.3,0.2,3.1c0.9,0.7,2,0,2.8-0.5c2.6-1.9,5.2-3.8,7.8-5.8c4.6-3.5,9.1-7,14.4-9.4
		c1.9-0.9,3.9-1.6,6.1-1.7c5.4-0.3,7.9,3,6,8c-1.6,4.3-3.4,8.6-5.4,12.8c-0.7,1.6-0.9,2.4,0.9,3.1c1,0.4,2.2,1.2,1.7,2.5
		c-0.5,1.2-1.8,0.6-2.7,0.3c-2.2-0.8-3.1,0.5-4,2.1c-4.1,7.2-9.6,13.1-16.5,17.7c-1.9,1.2-4,2.7-6.1,0.7c-2.1-1.9-2.4-4.2-1.1-6.8
		c1.6-1,2,1,3.1,1.3c1.2,1.1,2.3,0.4,3.3-0.4c1.2-0.9,2.3-1.9,3.4-2.9c3.8-3.8,7.4-7.8,10.5-13.1c-4,0.7-6.4,2.6-9,3.9
		C254.7,83.3,253.9,82.6,253.5,81.7z M250.6,76.4c-2-4.5-2.9-4.5-6.9,0C246,76.4,248.1,76.4,250.6,76.4z"/>
	<path fill="#CA3927" d="M88.8,64.6C85.4,74.3,78,78.4,68.2,78.8c-4,0.2-8-0.1-12,0.1c-2.8,0.2-3.6-0.8-3.6-3.6
		c0.1-12,0-23.9,0-35.9c9.1-0.2,18.2-1.2,27,2.5c7.1,4,9.9,10.3,9.9,18.2C89.2,61.6,89,63.1,88.8,64.6z M61.6,58.7
		C61.6,58.7,61.6,58.7,61.6,58.7c0,1.2-0.1,2.5,0,3.7c0.3,2.7-1.4,6.6,0.8,7.8c2.9,1.7,6.8,0.7,10.2-0.3c0.1,0,0.2-0.1,0.4-0.1
		c4.8-1.8,7.2-5.3,7.2-10.7c0-5.1-2.3-8.6-6.9-10.5c-3.1-1.3-6.3-1.2-9.6-1.2c-1.7,0-2.1,0.8-2.1,2.3C61.6,52.7,61.6,55.7,61.6,58.7
		z"/>
	<path fill="#CA3927" d="M93.9,56.4c5.1-5.2,11.2-6.6,18.1-4.4c4.7,1.5,7.6,5,9.1,9.6c0.4,2.5,0.4,4.9,0,7.4c-5,12-17,14.3-27.2,5.2
		c-0.2-0.3-0.5-0.5-0.7-0.8c0,0,0,0.2,0,0.2c0-0.5-0.2-0.9-0.8-0.8c0,0,0.1,0.1,0.1,0.1c0.4-1-0.1-1.7-0.8-2.3c0,0,0.1,0.1,0.1,0.1
		c-0.7-3.5-0.9-7,0.1-10.4c0,0-0.2,0-0.2,0c0.6-0.4,0.8-0.9,0.8-1.6c0,0-0.1,0.1-0.1,0.1c0.5-0.4,0.8-0.9,0.8-1.6c0,0,0,0.2,0,0.2
		C93.4,57,93.7,56.7,93.9,56.4z M112.9,65.2c-0.1-4.2-2.7-6.7-6.9-6.6c-3.9,0.1-6.4,2.8-6.4,6.8c0,4.2,2.6,6.8,6.7,6.8
		C110.5,72.1,112.9,69.4,112.9,65.2z"/>
	<path fill="#CA3927" d="M303.2,65.2c-0.8-2.7-2.6-1.4-3.9-0.7c-5.4,2.9-9.5,7.4-14.2,11.2c1.5,1.8,4.9-0.5,4.7,2.2
		c-0.2,2.9-3.2,1.2-4.9,1.4c-2.1,0.3-4.2,0.1-6.3,0c-1.5,0-2.4-1.1-1.5-2.1c2.7-3.4,3.7-7.9,7.1-10.8c0-0.3-0.1-0.6-0.1-0.9
		c-0.2,0.1-0.4,0.2-0.6,0.3c-1.8,0.9-3.5,1.7-5.3,2.6c-0.3-4.4,6.7-11.1,10.6-10.2c2.8,0.6,3.7,2.9,4.1,5.7c3-1.8,5.7-3.7,8.6-5
		c5.4-2.5,8.5-0.4,8.3,5.6c-0.1,2.2-0.7,4.4-1,6.6c-0.1,0.9-0.3,1.8,0.6,2.4c0.9,0.5,1.7,0.1,2.4-0.3c2.8-1.7,4.9-4.2,7.3-6.4
		c0.7-0.7,1.4-2.1,2.7-1c1.2,1,0.9,2.3,0.1,3.3c-1.1,1.5-2.4,2.8-3.6,4.3c-1.8,1.3-3.6,2.5-5.3,3.8c0,0,0.2,0.2,0.2,0.2
		c-0.8-0.2-1.5,0.1-1.9,0.8c0,0-0.2-0.1-0.2-0.1c-0.3,0.3-0.6,0.6-0.9,0.9c-4,1.2-8,0.4-12,0.5c-1.9,0-1.4-1.6-1.4-2.8
		c1.8-0.1,3.5-0.1,5.3-0.2c0.8,0.1,1.7,0.6,2.2-0.5C303.4,72.3,304.7,68.7,303.2,65.2z"/>
	<path fill="#CA3927" d="M168.7,51.8c2.8,0,5.6,0,8.4,0c0,9,0,18,0,27c-1.7,0-3.5-0.1-5.2,0.1c-1.9,0.2-3-0.4-3.1-2.5
		c-8.1,5.7-15.5,3.8-17.2-4.3c0.8-1.2,0.7-2.6,0.7-3.9c0-5.4,0-10.8,0-16.3c2,0,4,0,6,0c0,4.4,0,8.7,0,13.1c0,1.5-0.1,3,1.2,4.1
		c0.3,0.3,0.6,0.6,0.9,0.9c0,0-0.1-0.1-0.1-0.1c0.1,0.2,0.2,0.5,0.2,0.7c3.2,2.6,5.4,2.1,7.5-1.5C169.4,63.4,168.3,57.6,168.7,51.8z
		"/>
	<path fill="#CA3927" d="M125.4,72.6c0-0.2-0.1-0.4-0.2-0.6c-2-4.5-1.9-9,0-13.4c0.3-0.5,0.6-1.1,0.9-1.6c0.3-0.5,0.5-1,0.8-1.4
		c0,0-0.1,0.1-0.1,0.1c0.5,0,0.8-0.3,0.8-0.8c0,0-0.1,0.1-0.1,0.1c0.5,0,0.8-0.3,0.8-0.8c0,0-0.1,0.1,0,0.1c0.5,0,0.8-0.2,0.8-0.8
		c0,0-0.1,0.1-0.1,0.1c0.7,0.2,1.3-0.1,1.6-0.8c0,0-0.1,0.1-0.1,0.1c0.2-0.1,0.5-0.1,0.7-0.2c5-1.8,9.9-2.3,14.8,0.3
		c2,1,2.6,2,0.6,3.8c-2,1.9-3.4,4.1-7,2.1c-2.3-1.3-5.2,0.2-6.6,2.8c-1.6,2.9-1.5,5.8,0.6,8.4c1.9,2.2,4.4,2.6,7.1,1.7
		c1-0.3,1.7-1.8,2.9-0.6c1.5,1.5,3.1,3,4.1,4.7c0.5,0.9-1.1,1.5-1.9,1.9c-4.7,2.5-9.6,2.4-14.4,0.3c-1-0.4-2-1-3-1.5
		c-0.4-0.3-0.8-0.5-1.2-0.8c0,0,0.1,0,0.1,0c0-0.5-0.3-0.8-0.8-0.8c0,0,0.1,0.1,0.1,0.1c0-0.5-0.2-0.8-0.8-0.8c0,0,0,0.1,0,0.1
		C126.3,73.6,125.9,73.1,125.4,72.6z"/>
	<path fill="#FEE254" d="M321.8,313.4c-88.5,0-177,0-265.4,0c0.9-1.6,2.6-1.3,4-1.3c85.8,0,171.6,0,257.4,0
		C319.2,312.1,320.8,311.7,321.8,313.4z"/>
	<path fill="#C52B23" d="M228.1,192.1c-2.2-1.2-1.5-3.3-1.5-5c0-22,0-43.9,0-65.9c0-5.5,0-5.6-5.7-5.6c-21.5,0-42.9,0-64.4,0
		c-5.7,0-5.7,0-5.7,5.5c0,22.1,0,44.2,0,66.3c0,1.7,0.6,3.6-1.5,4.7c0-24.4,0.1-48.7,0.1-73.1c0-4.8,0-4.8,5-4.8
		c22.6,0,45.2,0,67.8,0c6.4,0,5.7-0.7,5.7,5.9C228.1,144.1,228.1,168.1,228.1,192.1z"/>
	<path fill="#C52B23" d="M149.4,192.1c-1.1,2-3,1.4-4.7,1.5c-12.2,0-24.4,0-36.6,0c-1.7,0-3.6-0.4-4.5,1.7c-0.8-0.7-1.8-1.3-2.3-3.2
		C117.4,192.1,133.4,192.1,149.4,192.1z"/>
	<path fill="#C52B23" d="M275.3,194.3c-1.8-0.9-3.6-0.7-5.5-0.7c-12.4,0-24.7,0-37.1,0c-1.7,0-3.6,0.6-4.6-1.5c16,0.1,32,0.1,48,0.2
		c0,0.4,0,0.9,0,1.3C275.8,193.8,275.6,194.1,275.3,194.3z"/>
	<path fill="#C52B23" d="M268.6,63.8c1.2,0.4,2.9,0.5,3,2.1c0,1.2-1.5,0.8-2.4,1c-4.5,1.8-7.8,5.8-12.3,7.6
		c-0.8-0.6-1.7-1.1-2.5-1.7C259.8,70.9,264.3,67.5,268.6,63.8z"/>
	<path fill="#FEE254" d="M177.2,78.8c0-9,0-18,0-27c1.7,0.9,1.4,2.5,1.4,4c0,5.5,0,11,0,16.5c0,1.5-0.2,3,0.8,4.3
		c-0.1,0.7-0.1,1.5-0.2,2.2C178.5,78.8,177.8,78.8,177.2,78.8z"/>
	<path fill="#CA3927" d="M225.1,79.4c-1.7,0-3.5,0-5.2,0c-1,0-1.6-0.5-1.5-1.6c0.1-1,0.8-1.2,1.6-1.2c3.3,0,6.7,0,10,0
		c0.8,0,1.5,0.3,1.5,1.2c0.1,1.1-0.5,1.6-1.6,1.6C228.4,79.4,226.8,79.4,225.1,79.4C225.1,79.4,225.1,79.4,225.1,79.4z"/>
	<path fill="#CA3927" d="M328.6,76.4c1,2,0.7,3.1-1.8,3.1c-3.6,0-7.2,0.1-10.8,0.1c-0.8-2.2-0.1-3.2,2.3-3.1
		C321.7,76.5,325.1,76.4,328.6,76.4z"/>
	<path fill="#C52B23" d="M253.5,81.7c0.4,1,1.1,1.6,2.1,1.9c-1.1,1-2.3,1.9-3.4,2.9c-2.7,2.6-5.5,5.3-4.9,9.6
		c-1.1-0.2-1.5-2.2-3.1-1.3C245.8,89.4,249.6,85.4,253.5,81.7z"/>
	<path fill="#CA3927" d="M247.5,45.6c-1.9-0.3-2.9-1.4-2.9-3.3c0-1.9,1.1-3.1,3-3.1c1.9,0,2.9,1.3,2.9,3.2
		C250.5,44.3,249.3,45.4,247.5,45.6z"/>
	<path fill="#CA3927" d="M319.7,86.4c1.5-0.5,2.9-1.6,4.6-1.3c2.9,0.5,4.8,3.3,4.2,6c-0.7,3.1-3.5,4.4-7.4,3.4
		c0.3-0.3,0.5-0.6,0.8-0.9c1.3,0.3,2.6,0.8,3.7-0.6c1.9-0.7,2.1-2.2,1.8-3.9c-0.7-2.7-3-0.3-4.3-1.3c-0.4,0-0.7-0.1-1.1-0.1
		C321.7,86.6,319.9,87.7,319.7,86.4z"/>
	<path fill="#C52B23" d="M152.3,51.9c0,5.4,0,10.8,0,16.3c0,1.4,0.1,2.7-0.7,3.9c0,0-0.4,0-0.4,0c-0.1-1.5-0.3-3-0.4-4.5
		c0.3-5,0.3-10,0-15c0.1-0.2,0.1-0.5,0.2-0.7C151.5,51.9,151.9,51.9,152.3,51.9z"/>
	<path fill="#FEE254" d="M328.6,76.4c-3.4,0-6.8,0.2-10.3,0.1c-2.4-0.1-3.1,0.9-2.3,3.1c-1.1-0.8-2.2-1.6-3.3-2.5
		c1.8-1.3,3.6-2.5,5.3-3.8c0.8,2.1,2.7,1.6,4.4,1.8C324.5,75.4,326.9,74.2,328.6,76.4z"/>
	<path fill="#FEE254" d="M79.6,41.9c-8.7-3.7-17.9-2.6-27-2.5c8.8-1.9,17.6-2.2,26.1,1.3C79.1,40.9,79.3,41.5,79.6,41.9z"/>
	<path fill="#FEE254" d="M160.5,70c-0.3-0.3-0.6-0.6-0.9-0.9c-0.1-5.8-0.2-11.5-0.3-17.3c1.3,0.8,1.3,2,1.3,3.3
		C160.6,60.1,160.5,65,160.5,70z"/>
	<path fill="#FEE254" d="M125.2,58.6c-2,4.5-2,9,0,13.4c-1.9-0.2-1.4-3.7-4.1-3c0.4-2.5,0.4-4.9,0-7.4
		C123.7,62.3,123.2,58.8,125.2,58.6z"/>
	<path fill="#F0A544" d="M319.7,86.4c0.2,1.3,2,0.2,2.3,1.5c0,1.6-0.1,3.2-0.1,4.8c0,0.3,0,0.6,0,0.9c-0.3,0.3-0.5,0.6-0.8,0.9
		C317.9,92.4,317.4,89.6,319.7,86.4z"/>
	<path fill="#FEE254" d="M168.7,51.8c-0.5,5.7,0.6,11.6-0.6,17.3C167.3,63.3,166.1,57.5,168.7,51.8z"/>
	<path fill="#FEE254" d="M303.2,65.2c1.5,3.5,0.2,7.1,0.6,10.6c-0.7,0.2-1.5,0.3-2.2,0.5c-1.8,0.1-3.5,0.1-5.3,0.2
		c0.4-0.4,0.9-1.2,1.3-1.2c4.8,0.3,5-2.8,4.7-6.2C302.3,67.8,302.3,66.4,303.2,65.2z"/>
	<path fill="#FEE254" d="M91.8,60.2c-1,3.5-0.8,6.9-0.1,10.4c-2.2-1.4-0.7-4.6-2.9-6c0.2-1.5,0.4-3,0.7-4.5
		C90.2,60.1,91,60.2,91.8,60.2z"/>
	<path fill="#C52B23" d="M159.3,51.8c0.1,5.8,0.2,11.5,0.3,17.3c-1.4-1.1-1.2-2.6-1.2-4.1c0-4.4,0-8.7,0-13.1
		C158.7,51.8,159,51.8,159.3,51.8z"/>
	<path fill="#FEE254" d="M150.9,67.6c0.1,1.5,0.3,3,0.4,4.5C149.7,70.7,149.9,69.2,150.9,67.6z"/>
	<path fill="#FEE254" d="M91.6,70.5c0.7,0.6,1.1,1.3,0.8,2.3C92.2,72.1,91.9,71.3,91.6,70.5z"/>
	<path fill="#FEE254" d="M93.2,73.4c0.2,0.3,0.5,0.5,0.7,0.8C93.2,74.3,93.2,73.9,93.2,73.4z"/>
	<path fill="#FEE254" d="M130.7,52.6c-0.3,0.7-0.8,1-1.6,0.8C129.6,53.1,130.2,52.9,130.7,52.6z"/>
	<path fill="#FEE254" d="M93.9,56.4c-0.2,0.3-0.5,0.5-0.7,0.8C93.2,56.8,93.3,56.3,93.9,56.4z"/>
	<path fill="#FEE254" d="M310.9,78.1c0.5-0.7,1.1-1,1.9-0.8C312.2,77.5,311.6,77.8,310.9,78.1z"/>
	<path fill="#FEE254" d="M126.9,55.6c-0.3,0.5-0.5,1-0.8,1.4C126.4,56.5,126.6,56,126.9,55.6z"/>
	<path fill="#FEE254" d="M93.2,57.1c0,0.7-0.3,1.2-0.8,1.6C92.6,58.1,92.9,57.6,93.2,57.1z"/>
	<path fill="#FEE254" d="M92.4,58.6c-0.1,0.6-0.2,1.2-0.8,1.6C91.9,59.6,92.2,59.1,92.4,58.6z"/>
	<path fill="#CA3927" d="M276.1,193.6c0-0.4,0-0.9,0-1.3C277.4,192.7,276.5,193.1,276.1,193.6z"/>
	<path fill="#FEE254" d="M125.4,72.6c0.5,0.5,0.9,1,0.8,1.7C125.9,73.8,125.6,73.2,125.4,72.6z"/>
	<path fill="#FEE254" d="M127.6,75.8c0.4,0.3,0.8,0.5,1.2,0.8C128.4,76.3,128,76.1,127.6,75.8z"/>
	<path fill="#FEE254" d="M131.3,52.6c-0.2,0.1-0.5,0.1-0.7,0.2C130.9,52.7,131.1,52.6,131.3,52.6z"/>
	<path fill="#FEE254" d="M127.7,54.8c0,0.5-0.3,0.8-0.8,0.8C127.1,55.4,127.4,55.1,127.7,54.8z"/>
	<path fill="#FEE254" d="M151,51.9c0,0.2-0.1,0.5-0.2,0.7C150.9,52.3,151,52.1,151,51.9z"/>
	<path fill="#FEE254" d="M92.4,72.8c0.6-0.1,0.8,0.3,0.8,0.8C92.9,73.3,92.6,73,92.4,72.8z"/>
	<path fill="#FEE254" d="M160.6,70.6c-0.1-0.2-0.2-0.5-0.2-0.7C160.5,70.1,160.6,70.3,160.6,70.6z"/>
	<path fill="#FEE254" d="M128.4,54.1c0,0.5-0.3,0.8-0.8,0.8C127.9,54.6,128.1,54.4,128.4,54.1z"/>
	<path fill="#FEE254" d="M129.2,53.3c0,0.6-0.3,0.8-0.8,0.8C128.6,53.9,128.9,53.6,129.2,53.3z"/>
	<path fill="#FEE254" d="M126.1,74.3c0.6,0,0.8,0.3,0.8,0.8C126.6,74.8,126.4,74.5,126.1,74.3z"/>
	<path fill="#FEE254" d="M126.8,75c0.5,0,0.8,0.3,0.8,0.8C127.4,75.6,127.1,75.3,126.8,75z"/>
	<path fill="#FEE254" d="M309.8,78.9c0.3-0.3,0.6-0.6,0.9-0.9C310.4,78.3,310.1,78.6,309.8,78.9z"/>
	<path fill="#FECC4E" d="M247.4,96.1c-0.6-4.3,2.2-6.9,4.9-9.6c1.1-1,2.3-2,3.4-2.9c2.6-1.4,5-3.2,9-3.9c-3.1,5.4-6.7,9.4-10.5,13.1
		c-1.1,1-2.2,2-3.4,2.9C249.7,96.5,248.7,97.2,247.4,96.1z"/>
	<path fill="#FECC4E" d="M268.6,63.8c-4.3,3.6-8.8,7.1-14.3,9c-0.2-0.4-0.6-1.1-0.4-1.3c4.4-5.3,9.8-9.2,16.5-11.7
		C270.7,62,269,62.6,268.6,63.8z"/>
	<path fill="#FECC4E" d="M250.6,76.4c-2.5,0-4.6,0-6.9,0C247.7,71.9,248.6,71.9,250.6,76.4z"/>
	<path fill="#FECC4E" d="M61.6,58.7c0-3,0-6,0-9c0-1.5,0.5-2.3,2.1-2.3c3.3,0,6.5,0,9.6,1.2c4.6,1.9,6.9,5.4,6.9,10.5
		c0,5.4-2.4,8.9-7.2,10.7c-0.1,0-0.2,0.1-0.4,0.1c-3.4,1-7.3,2-10.2,0.3c-2.1-1.2-0.5-5.1-0.8-7.8C61.5,61.2,61.6,60,61.6,58.7
		C61.6,58.7,61.6,58.7,61.6,58.7z"/>
	<path fill="#FECC4E" d="M112.9,65.2c0.1,4.3-2.4,6.9-6.5,6.9c-4.1,0-6.7-2.6-6.7-6.8c0-4,2.5-6.7,6.4-6.8
		C110.2,58.4,112.8,61,112.9,65.2z"/>
	<path fill="#FECC4E" d="M301.6,76.4c0.7-0.2,1.5-0.3,2.2-0.5C303.3,76.9,302.4,76.4,301.6,76.4z"/>
	<path fill="#FECC4E" d="M283.4,65.8c0.2-0.1,0.4-0.2,0.6-0.3c0,0.3,0.1,0.6,0.1,0.9C283.8,66.2,283.6,66,283.4,65.8z"/>
	<path fill="#FECC4E" d="M323.1,87.9c1.3,0.9,3.6-1.5,4.3,1.3c0.4,1.6,0.1,3.2-1.8,3.9c0,0,0,0.1,0,0.1c-0.1-0.6,0-1.4-0.8-1.6
		l0.1,0.1C325.9,89.6,322.1,90,323.1,87.9z"/>
	<path fill="#C52B23" d="M323.1,87.9c-1,2,2.8,1.7,1.8,3.7c-1.6-1.3-2.1,0.4-3,1.1c0-1.6,0.1-3.2,0.1-4.8
		C322.4,87.9,322.7,87.9,323.1,87.9z"/>
	<path fill="#FECC4E" d="M321.9,92.7c0.9-0.7,1.4-2.4,3-1.1c0,0-0.1-0.1-0.1-0.1c-0.4,0.9,0.3,1.2,0.8,1.6c0,0,0-0.1,0-0.1
		c-1.1,1.3-2.4,0.8-3.7,0.6C321.9,93.3,321.9,93,321.9,92.7z"/>
	<path fill="#C52B23" d="M325.6,93.1c-0.5-0.4-1.2-0.7-0.8-1.6C325.7,91.8,325.5,92.5,325.6,93.1z"/>
</g>
</svg>
      </a>
    </div>
  </div>
</div>