.edit-provider-title{
  margin-top: 0;
  margin-bottom: 20px;
}
.provider-form{
  .input-group.form-group{
    padding: 0 15px;
  }
}
.form-group:last-child, .form-group .form-group{
  margin-bottom: 0;
}

.form-groupWr{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  & > .form-group{
    flex-shrink: 0;
    margin: 0;
    box-sizing: border-box;
  }
}

.practice-form-btnsWr{
  margin-top: 40px;
}
.provider-form-activeCB{
  position: absolute;
  top: 20px;
  right: 10px;
}