<p class="text-primary lead" ng-if="vm.newUser">Almost done!  Now let's enter your provider(s) information.</p>
<h3 class="edit-provider-title">Participating Provider Information</h3>
<form name="providerForm" class="form-horizontal provider-form" novalidate ng-submit="vm.saveProvider(vm.provider)">
  <div class="provider-form-activeCB" ng-if="vm.provider.id">
    <div class="flex-end">
      <input id="providerActiveCB" name="providerActiveCB" ng-model="vm.provider.cbState" type="checkbox">
      <label for="providerActiveCB" class="" ng-if="vm.provider._active"> Inactivate this provider</label>
      <label for="providerActiveCB" class="" ng-if="!vm.provider._active"> Activate this provider</label>
    </div>
  </div>
  <div class="form-group is-required">
    <label for="providerId" class="col-sm-3 control-label">Responsible Clinician ID</label>
    <div class="col-sm-8">
      <input class="form-control" id="providerId" name="providerId" ng-model="vm.provider.clinician_id" required check-clinician-id type="text">
      <div ng-messages="providerForm.providerId.$error" ng-if="providerForm.providerId.$dirty || providerForm.providerId.$touched || providerForm.$submitted">
        <div ng-message="asyncValidator">ID is not unique.</div>
        <div ng-message="required">This is required.</div>
      </div>
    </div>
  </div>
  <div class="form-group is-required">
    <label for="providerNPI" class="col-sm-3 control-label">Clinician NPI</label>
    <div class="col-sm-6">
      <input class="form-control" id="providerNPI" name="providerNPI" ng-model="vm.provider.npi" check-clinician-npi required type="text">
      <div ng-messages="providerForm.providerNPI.$error" ng-if="providerForm.providerNPI.$dirty || providerForm.providerNPI.$touched || providerForm.$submitted">
        <div ng-message="asyncValidator">NPI is not unique.</div>
        <div ng-message="required">This is required.</div>
      </div>
    </div>
    <div class="col-sm-1" style="padding-left: 0;margin-left: -10px;">
      <a target="_blank" href="https://npiregistry.cms.hhs.gov/registry/search-results-table?number={{providerForm.providerNPI.$viewValue}}" class="btn btn-secondary" role="button">NPI Search</a>
    </div>
  </div>
  <div class="form-group">
    <label for="providerDEA" class="col-sm-3 control-label">Clinician DEA</label>
    <div class="col-sm-8">
      <input class="form-control" id="providerDEA" name="providerDEA" ng-model="vm.provider.dea" type="text">
      <div ng-messages="providerForm.providerDEA.$error" ng-if="providerForm.providerDEA.$touched || providerForm.$submitted">
        <div ng-message="required">This is required.</div>
      </div>
    </div>
  </div>
  <div class="form-group is-required">
    <label for="providerLicense" class="col-sm-3 control-label">Clinician Medical License</label>
    <div class="col-sm-8">
      <input class="form-control" id="providerLicense" name="providerLicense" ng-model="vm.provider.license" required type="text">
      <div ng-messages="providerForm.providerLicense.$error" ng-if="providerForm.providerLicense.$touched || providerForm.$submitted">
        <div ng-message="required">This is required.</div>
      </div>
    </div>
  </div>
  <div class="form-group is-required">
    <label for="providerLName" class="col-sm-3 control-label">Clinician Last Name</label>
    <div class="col-sm-8">
      <input class="form-control" id="providerLName" name="providerLName" ng-model="vm.provider.lastname" required type="text">
      <div ng-messages="providerForm.providerLName.$error" ng-if="providerForm.providerLName.$touched || providerForm.$submitted">
        <div ng-message="required">This is required.</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="providerMName" class="col-sm-3 control-label">Clinician Middle Name</label>
    <div class="col-sm-8">
      <input class="form-control" id="providerMName" name="providerMName" ng-model="vm.provider.middlename" type="text">
      <div ng-messages="providerForm.providerMName.$error" ng-if="providerForm.providerMName.$touched || providerForm.$submitted">
        <div ng-message="required">This is required.</div>
      </div>
    </div>
  </div>
  <div class="form-group is-required">
    <label for="providerFName" class="col-sm-3 control-label">Clinician First Name</label>
    <div class="col-sm-8">
      <input class="form-control" id="providerFName" name="providerFName" ng-model="vm.provider.firstname" required type="text">
      <div ng-messages="providerForm.providerFName.$error" ng-if="providerForm.providerFName.$touched || providerForm.$submitted">
        <div ng-message="required">This is required.</div>
      </div>
    </div>
  </div>
  <div class="form-group form-groupWr is-required">
    <label for="providerDateBirth" class="col-sm-3 control-label">Clinician Date of Birth</label>
    <div class="col-sm-3 form-group">
      <div class="input-group form-group">
        <input class="form-control" required id="providerDateBirth" is-open="vm.popup.opened" ng-click="vm.showDatePicker()" uib-datepicker-popup="MM/dd/yyyy" name="providerDateBirth" placeholder="MM/DD/YYYY" check-date-format ng-model="vm.provider.date_birth" type="text">
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="vm.showDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
      </div>
      <div ng-messages="providerForm.providerDateBirth.$error" ng-if="providerForm.providerDateBirth.$touched || providerForm.$submitted">
        <div ng-message="required">This is required.</div>
        <div ng-message="badDate">Wrong date format (mm/dd/yyyy expected).</div>
      </div>
    </div>
  
    <label for="providerGender" class="col-sm-3 control-label">Clinician Gender</label>
    <div class="col-sm-2">
      <select class="form-control" id="providerGender" name="providerGender" required ng-model="vm.provider.gender">
        <option value="" selected>select</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
      <div ng-messages="providerForm.providerGender.$error" ng-if="providerForm.providerGender.$touched || providerForm.$submitted">
        <div ng-message="required">This is required.</div>
      </div>
    </div>
  </div>
  <div class="form-group form-groupWr is-required">
    <label for="providerDegree" class="col-sm-3 control-label">Clinician Degree</label>
    <div class="col-sm-3">
      <select class="form-control" id="providerDegree" name="providerDegree" required ng-model="vm.provider.degree_id">
        <option value="" selected>select</option>
        <option ng-repeat="clinician_degree in vm.formData.clinician_degree" value="{{clinician_degree.id}}">{{clinician_degree.name}}</option>
      </select>
      <div ng-messages="providerForm.providerDegree.$error" ng-if="providerForm.providerDegree.$touched || providerForm.$submitted">
        <div ng-message="required">This is required.</div>
      </div>
    </div>
  
    <label for="providerSpeciality" class="col-sm-3 control-label">Clinician Speciality</label>
    <div class="col-sm-2">
      <select class="form-control" id="providerSpeciality" name="providerSpeciality" required ng-model="vm.provider.speciality_id">
        <option value="" selected>select</option>
        <option ng-repeat="clinician_speciality in vm.formData.clinician_speciality" value="{{clinician_speciality.id}}">{{clinician_speciality.name}}</option>
      </select>
      <div ng-messages="providerForm.providerSpeciality.$error" ng-if="providerForm.providerSpeciality.$touched || providerForm.$submitted">
        <div ng-message="required">This is required.</div>
      </div>
    </div>
  </div>
  
  <div class="form-group flex-end provider-form-btnsWr">
    <div class="col-sm-2">
      <button class="btn btn-default btn-block" ng-click="vm.cancelSave()" type="button">Cancel</button>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-secondary btn-block" ng-click="vm.saveProvider(vm.provider)">
        Save
      </button>
    </div>
  </div>
</form>