.pdf-file, .xls-file{
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
}
.pdf-file{
  background-image: url('../../../Layout/Images/Adobe-PDF-Document-icon.png');
}
.xls-file{
  background-image: url('../../../Layout/Images/Document-Microsoft-Excel-icon.png');
}

.howToProgram {
  ul, table{
    margin-left: 20px;
  }
  h5{
    margin-bottom: 15px;
    margin-top: 15px;
  }
  table {
    width: 450px;
    th{
      text-align:center;
    }
    td img{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}