<form name="recoveryPassForm" class="form-horizontal login-form" novalidate ng-submit="vm.recoveryPassword(vm.recoveryPass.mail)">
  <div class="form-group is-required">
    <label for="resetPassEmail" class="col-sm-3 control-label">Email</label>
    <div class="col-sm-9">
      <input class="form-control" id="resetPassEmail" name="recoveryPassEmail" ng-model="vm.recoveryPass.mail" required type="email" ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'>
      <div ng-messages="recoveryPassForm.recoveryPassEmail.$error" ng-if="recoveryPassForm.recoveryPassEmail.$touched || recoveryPassForm.$submitted">
        <div ng-message="required">This is required.</div>
        <div ng-message="pattern">This is not valid email address.</div>
      </div>
    </div>
  </div>
  <div class="form-group flex-end">
    <div class="col-sm-9">
      <button type="submit" class="btn btn-secondary btn-block">
        Reset password
      </button>
    </div>
  </div>
  <div class="form-group flex-end">
    <div class="col-sm-9 flex-center">
      <a  ui-sref="login.page">Login</a>
    </div>
  </div>
</form>