.dashboard-content{
  position: relative;
  display: block;
  //display: flex;
  //flex-wrap: wrap;
  //position: relative;
  //display: block;
  //.dashboard-content-item{
  //  //float: left;
  //  position: relative;
  //  display: inline-block;
  //  //min-height: 30px;
  //  vertical-align: top;
  //}
  .well{
    background-color:#fff;
  }
  /*&:after{
    content: '';
    //clear: both;
  }*/
}
.dashboard-content-item{
  position: relative;
  display: block;
  float: none;
}
.tasksList{
  list-style: decimal;
  padding-left: 15px;
  li{
    display: list-item;
  }
}