<div ui-view>
  <div ng-if="vm.practice">
    <h3>Welcome back {{vm.user.firstname}} {{vm.user.lastname}}!</h3>
    <div class="dashboard-content width-100">
      <div class="col-md-8">
        <div class="dashboard-content-item width-100">
          <h4>Pending Task(s)</h4>
          <div class="well width-100">
            <span ng-if="!vm.tasks.length">Looks like you are all caught up!</span>
            <div ng-if="vm.tasks.length" class="tasksListWr">
              <h5 ng-switch="vm.tasks.length">You have <span ng-switch-when="1">one</span><span ng-switch-default>few</span> ({{vm.tasks.length}}) outstanding task:</h5>
              <ul class="tasksList"
                  ng-repeat="task in vm.tasks">
                <li ng-bind-html="task.text"></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="dashboard-content-item width-100">
          <h4>Recent Submission(s)</h4>
          <p ng-if="!(vm.submissions && vm.submissions.length)">No recent submissions</p>
          <div class="well width-100" ng-if="vm.submissions && vm.submissions.length">
            <table class="table table-bordered width-100">
              <thead class="bg-primary">
              <tr>
                <th>Submission Date</th>
                <th>Program Name</th>
                <th>Score</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="submission in vm.submissions">
                <td>{{submission.modified_at | date : 'MM/dd/yy'}}</td>
                <td>{{submission.program.name}}</td>
                <td><p ng-repeat="recognition in submission.recognition" ng-if="recognition.score">{{recognition.score}}</p></td>
              </tr>
              </tbody>
            </table>
            <p class="flex-end width-100"><a  ng-if="vm.submissionsLink" ui-sref="{{vm.submissionsLink}}">View all</a></p>
          </div>
        </div>
        <div class="dashboard-content-item width-100">
          <h4>Recent Recognition(s) </h4>
          <p ng-if="!(vm.recognitions && vm.recognitions.length)">No recent recognitions</p>
          <div class="well width-100" ng-if="vm.recognitions && vm.recognitions.length">
            <table class="table table-bordered width-100">
              <thead class="bg-primary">
              <tr>
                <th>Program Name</th>
                <th>Star Rating</th>
                <th>Recognition Date</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="recognition in vm.recognitions">
                <td>{{recognition.program.name}}</td>
                <td><p class="starsWr" ng-if="recognition.starRating">{{recognition.starRating}} Stars<br><span class="star-icon" ng-repeat="i in recognition.stars"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"><path d="m135.78 50.46c0-2.01-1.52-3.259-4.564-3.748l-40.897-5.947-18.331-37.07c-1.031-2.227-2.363-3.34-3.992-3.34-1.629 0-2.96 1.113-3.992 3.34l-18.332 37.07-40.899 5.947c-3.041.489-4.562 1.738-4.562 3.748 0 1.141.679 2.445 2.037 3.911l29.656 28.841-7.01 40.736c-.109.761-.163 1.305-.163 1.63 0 1.141.285 2.104.855 2.893.57.788 1.425 1.181 2.566 1.181.978 0 2.064-.324 3.259-.977l36.58-19.229 36.583 19.229c1.142.652 2.228.977 3.258.977 1.089 0 1.916-.392 2.486-1.181.569-.788.854-1.752.854-2.893 0-.706-.027-1.249-.082-1.63l-7.01-40.736 29.574-28.841c1.414-1.412 2.119-2.716 2.119-3.911" transform="matrix(.12375 0 0 .12375 2.59 2.958)" fill="#fdbc4b"/></svg></span></p></td>
                <td>{{recognition.modified_at | date : 'MM/dd/yy'}}</td>
              </tr>
              </tbody>
            </table>
            <p class="flex-end width-100"><a  ng-if="vm.recognitionsLink" ui-sref="{{vm.recognitionsLink}}">View all</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="dashboard-content-item width-100">
          <h4>BTE News</h4>
          <div class="well width-100">
            <a target="_blank" href="http://www.bridgestoexcellence.org">
              Visit the new BTE web page!
            </a>
          </div>
        </div>
        <div class="dashboard-content-item width-100">
          <h4>How-To's</h4>
          <div class="well width-100">
            <p><a  ui-sref="main.submissions" >How do I begin a submission?</a></p>
            <p><a target="_blank" href="http://www.bridgestoexcellence.org/recognition-programs">How many BTE recognitions are there?</a></p>
            <p><a  ui-sref="main.howto.prepare-submission">How do I prepare for my submission?</a></p>
            <p><a target="_blank" href="http://www.bridgestoexcellence.org/bte-certificate">How may I print my recognition certificate?</a></p>
          </div>
        </div>
        <div class="dashboard-content-item width-100">
          <h4>My Practice</h4>
          <div class="well width-100">
            <p>{{vm.practice.name}}</p>
            <p>{{vm.practice.address}}</p>
            <p>{{vm.practice.city}}, {{vm.practice.state}} {{vm.practice.zipCode}} </p>
            <p>{{vm.practice.phone}}</p>
            <p>{{vm.practice.primaryContactName}}</p>
            <p>{{vm.practice.primaryContactEmail}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>